@model ArticleTypeBriefViewModel

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Краткая информация о типе артикулов</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)                
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            }            
            @if (Model.IsDeleted)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </dt>
                <dd>
                    <span class="label label-danger">Удалён</span>
                </dd>
            }
            @if (Model.ChildTypes.Any())
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ChildTypes)
                </dt>
                <dd>
                    <span class="badge">@Model.ChildTypes.Count</span>
                </dd>
            }        
            @if (Model.Articles.Any())
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Articles)                    
                </dt>
                <dd>
                    <span class="badge">@Model.Articles.Count</span>
                </dd>
            }  
            @if (Model.Recommendations.Any())
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Recommendations)                    
                </dt>
                <dd>
                    <span class="badge">@Model.Recommendations.Count</span>
                </dd>
            }
        </dl>        
    </div>   
    <div class="panel-footer">
        <a class="btn btn-sm btn-default"
           asp-controller="ArticleType"
           asp-action="Details"
           asp-route-id="@Model.ID"
           data-toggle="tooltip"
           data-placement="bottom"
           data-original-title="Просмотреть информацию о типе артикулов"
           title="">
            <i class="fa fa-fw fa-info-circle"></i>
        </a>
        @if (!Model.IsDeleted)
        {
            <a class="btn btn-sm btn-default"
               asp-controller="ArticleType"
               asp-action="Update"
               asp-route-id="@Model.ID"
               data-toggle="tooltip"
               data-placement="bottom"
               data-original-title="Редактировать тип артикулов"
               title="">
                <i class="fa fa-fw fa-pencil-square"></i>
            </a>
        }
        @if (Model.CanBeDeleted)
        {
            <a class="btn btn-sm btn-danger"
                asp-controller="ArticleType"
                asp-action="Delete"
                asp-route-id="@Model.ID"
                data-toggle="tooltip"
                data-placement="bottom"
                data-original-title="Удалить тип артикулов"
                title="">
                <i class="fa fa-fw fa-trash"></i>
            </a>
        }        
    </div>
</div>