@model ArticleTypeSelectModel

@{
    ViewBag.Title = "SORANO - Назначение родительского типа артикулов";
    ViewBag.Header = "Назначение";
    ViewBag.Description = "родительского типа артикулов";
    ViewBag.Icon = "fa fa-fw fa-tags";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Назначение родительского типа</li>
    </ul>
}

<div class="row">
    <div class="col-lg-6">
        @if (Model.Types.Any())
        {
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Для назначения родительского типа выберите необходимый тип в дереве
            </p>
        }
        else
        {
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Типы артикулов отсутствуют
            </p>
        }        
        <form asp-controller="ArticleType"
              asp-action=""
              method="post"
              asp-antiforgery="true">
            <input type="hidden" asp-for="ReturnUrl" />            
            @for (var i = 0; i < Model.Types.Count; i++)
            {
                @Html.HiddenFor(m => m.Types[i].ID)
                @Html.HiddenFor(m => m.Types[i].Name)
                @Html.HiddenFor(m => m.Types[i].Description)
                @Html.HiddenFor(m => m.Types[i].IsSelected, new {id = "typeID_" + Model.Types[i].ID, @class = "selectedInput"})
            }
            @if (Model.Types.Any())
            {
                <div class="form-group">
                    <input class="form-control input-sm" style="font-weight: bold;" placeholder="Поиск типов артикулов" type="text" id="article-search"/>
                    <br/>
                    <div class="tree">
                        <article-types-tree elements="@Model.Types.ToTree()" detailed="false" show-articles="false" current-element="@Model.CurrentType"></article-types-tree>
                    </div>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-sm" asp-action="CancelSelect">Отмена</button>
                <button type="submit" class="btn btn-primary btn-sm" asp-action="Select">Сохранить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/articleTypeSelect.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/articleTypeSelect.min.js" asp-append-version="true"></script>
    </environment>
}
