@model ArticleTypeSelectModel

@{
    ViewBag.Title = "SORANO - Назначение родительского типа артикулов";
    ViewBag.Header = "Назначение";
    ViewBag.Description = "родительского типа артикулов";
    ViewBag.Icon = "fa fa-tags";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Article" asp-action="Index">Артикулы</a></li>
        <li>
            @if (Model.ArticleType != null)
            {
                <a asp-controller="ArticleType" asp-action="Create">Создание типа артикулов</a>
            }
            else
            {
                <a asp-controller="Article" asp-action="Create">Создание артикула</a>
            }
        </li>
        <li class="active">Назначение родительского типа</li>
    </ul>
}

<div class="row">
    <div class="col-lg-6">
        @if (Model.Types.Any())
        {
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Для назначения родительского типа выберите необходимый тип в дереве
            </p>
        }
        else
        {
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Типы артикулов отсутствуют
            </p>
        }        
        <form asp-controller="ArticleType"
              asp-action=""
              method="post"
              asp-antiforgery="true">
            @if (Model.ArticleType != null)
            {
                <input type="hidden" asp-for="ArticleType.ID"/>
                <input type="hidden" asp-for="ArticleType.Name"/>
                <input type="hidden" asp-for="ArticleType.Description"/>

                for (int i = 0; i < Model.ArticleType.Recommendations.Count; i++)
                {
                    @Html.HiddenFor(m => m.ArticleType.Recommendations[i].ID)
                    @Html.HiddenFor(m => m.ArticleType.Recommendations[i].ParentID)
                    @Html.HiddenFor(m => m.ArticleType.Recommendations[i].ValueString)
                    @Html.HiddenFor(m => m.ArticleType.Recommendations[i].Comment)
                }

                if (Model.ArticleType.ParentType != null)
                {
                    <input type="hidden" asp-for="ArticleType.ParentType.ID"/>
                    <input type="hidden" asp-for="ArticleType.ParentType.Name"/>
                    <input type="hidden" asp-for="ArticleType.ParentType.Description"/>
                }
            }
            @if (Model.Article != null)
            {
                <input type="hidden" asp-for="Article.ID" />
                <input type="hidden" asp-for="Article.Name" />
                <input type="hidden" asp-for="Article.Description" />
                <input type="hidden" asp-for="Article.Producer" />
                <input type="hidden" asp-for="Article.Code" />
                <input type="hidden" asp-for="Article.Barcode" />

                <input type="hidden" asp-for="Article.Type.ID"/>
                <input type="hidden" asp-for="Article.Type.Name" />

                <input type="hidden" asp-for="Article.MainPicture.Name" />
                <input type="hidden" asp-for="Article.MainPicture.FullPath" />
                <input type="hidden" asp-for="Article.MainPicture.TypeID" />
            }
            <input type="hidden" asp-for="ReturnUrl" />
            
            @for (var i = 0; i < Model.Types.Count; i++)
            {
                @Html.HiddenFor(m => m.Types[i].ID)
                @Html.HiddenFor(m => m.Types[i].Name)
                @Html.HiddenFor(m => m.Types[i].Description)
                @Html.HiddenFor(m => m.Types[i].IsSelected, new {id = "typeID_" + Model.Types[i].ID, @class = "selectedInput"})
            }
            @if (Model.Types.Any())
            {
                <div class="form-group">
                    <input class="form-control input-sm" style="font-weight: bold;" placeholder="Поиск типов артикулов" type="text" id="article-search"/>
                    <br/>
                    <div class="tree">
                        <article-types-tree elements="@Model.Types.ToTree()" detailed="false" show-articles="false" current-element="@Model.ArticleType"></article-types-tree>
                    </div>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-default" asp-action="Cancel">Отмена</button>
                <button type="submit" class="btn btn-primary" asp-action="Select">Сохранить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Свернуть ветку');
            $('.tree li.parent_li > span').on('click', function () {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Развернуть ветку').find(' > i').addClass('fa-tags').removeClass('fa-tag');
                    $(this).find(' > span').show('fast');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Свернуть ветку').find(' > i').addClass('fa-tag').removeClass('fa-tags');
                    $(this).find(' > span').hide('fast');
                }
            });
            $('.tree li').on('click', function (e) {
                var id = $(this).attr('id');
                var input = $('#typeID_' + id), val = input.val();
                $('.selectedInput').val("False");
                $('.tree li.selected').removeClass('selected');
                input.val(val === "True" ? "False" : "True");
                $(this).addClass('selected');
                e.stopPropagation();
            });
        });
    </script>
}
