@model SelectMainPictureModel

@{
    ViewBag.Title = "SORANO - Выбор изображения";
    ViewBag.Header = "Выбор";
    ViewBag.Description = "изображения из существующих вложений";
    ViewBag.Icon = "fa fa-th-large";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Выбор изображения</li>
    </ul>
}

@section Styles {
    <style>
        img {
            width: 150px;
            height: 200px;
            border: 2px solid #dce4ec;
            box-shadow: none;
            border-radius: 4px;
            object-fit: contain;
            margin-right: 10px;
            margin-bottom: 10px;
        }
            img.selected {
                border: 2px solid #3498db;
            }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        @if (!Model.Pictures.Any())
        {
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Изображения отсутствуют
            </p>
        }
        <form asp-controller="Attachment"
              asp-action=""
              method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="SelectedID" />
            @if (Model.Pictures.Any())
            {
                <div class="form-group">
                    @for (var i = 0; i < Model.Pictures.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.Pictures[i].ID" />
                        <input type="hidden" asp-for="@Model.Pictures[i].FullPath" />
                        <input type="hidden" asp-for="@Model.Pictures[i].Name" />
                        <input type="hidden" asp-for="@Model.Pictures[i].TypeID" />
                        <img id="@Model.Pictures[i].ID" src="@Url.Content(Model.Pictures[i].FullPath)" />                        
                    }
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-default" asp-action="Cancel">Отмена</button>
                <button type="submit" class="btn btn-primary" asp-action="Select">Сохранить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/attachmentSelectMainPicture.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/attachmentSelectMainPicture.min.js" asp-append-version="true"></script>
    </environment>   
}