@model SaleIndexViewModel

@{
    ViewBag.Title = "SORANO - Продажи";
    ViewBag.Header = "Продажи";
    ViewBag.Description = "";
    ViewBag.Icon = "fa fa-handshake-o";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Продажи</li>
    </ul>
}

@*<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-fw fa-bar-chart"></i>
                График продаж
            </div>
            <div class="panel-body">
                <div id="sales-barchart" style="height: 150px;">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-fw fa-pie-chart"></i>
                График продаж по местам
            </div>
            <div class="panel-body">
                <div id="sales-piechart" style="height: 150px;">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-fw fa-bar-chart"></i>
                График прибыли
            </div>
            <div class="panel-body">
                <div id="sales-linechart" style="height: 150px;">

                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Список продаж
                <span class="badge" style="margin-left: 5px;">@Model.Items.Count</span>
                <a class="btn btn-default btn-xs pull-right"
                   asp-controller="Sale"
                   asp-action="Create"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Оформить продажу"
                   title="">
                    <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                </a>
                <a class="btn btn-default btn-xs pull-right"
                   asp-controller="Sale"
                   asp-action="ShowDeleted"
                   asp-route-show=@(ViewBag.ShowDeleted ? "false" : "true")
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title=@(ViewBag.ShowDeleted ? "Скрыть удалённые продажи" : "Отобразить удалённые продажи")
                   title="">
                    <i class="fa fa-fw @(ViewBag.ShowDeleted ? "fa-eye-slash" : "fa-eye")" aria-hidden="true"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table id="sales-datatable" class="table table-striped table-hover">
                    <thead>
                        <tr role="row" class="search-row">
                            <th><input type="text" class="form-control input-sm" placeholder="Продажа" /></th>
                            @if (Model.ShowLocation)
                            {
                            <th><input type="text" class="form-control input-sm" placeholder="Место" /></th>
                            }                            
                            <th><input type="text" class="form-control input-sm" placeholder="Продавец" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Клиент" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Позиций" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Сумма" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Статус" /></th>
                            <th></th>
                        </tr>
                        <tr role="row">
                            <th><i class="fa fa-fw fa-calendar"></i>Продажа</th>
                            @if (Model.ShowLocation)
                            {
                            <th><i class="fa fa-fw fa-map-marker"></i>Место</th>
                            }                            
                            <th><i class="fa fa-fw fa-user"></i>Продавец</th>
                            <th><i class="fa fa-fw fa-address-book"></i>Клиент</th>
                            <th><i class="fa fa-fw fa-hashtag"></i>Позиций</th>
                            <th><i class="fa fa-fw fa-money"></i>Сумма</th>
                            <th><i class="fa fa-fw fa-align-justify"></i>Статус</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sale in Model.Items)
                        {
                        <tr class="@(sale.IsDeleted ? "danger" : "")">
                            <td>@sale.Date</td>
                            @if (Model.ShowLocation)
                            {
                                <td>
                                    <a asp-controller="Location"
                                       asp-action="Details"
                                       asp-route-id="@sale.LocationID"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       data-original-title="Просмотреть информацию о месте продажи"
                                       title="">
                                        @sale.LocationName
                                    </a>
                                </td>
                            }                            
                            <td>
                                <a asp-controller="User"
                                   asp-action="Details"
                                   asp-route-id="@sale.UserID"
                                   data-toggle="tooltip"
                                   data-placement="bottom"
                                   data-original-title="Просмотреть информацию о продавце"
                                   title="">
                                    @sale.UserName
                                </a>
                            </td>
                            <td>
                                @if (sale.ClientID.HasValue)
                                {
                                    <a asp-controller="Client"
                                        asp-action="Details"
                                        asp-route-id="@sale.ClientID"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        data-original-title="Просмотреть информацию о клиенте"
                                        title="">
                                        @sale.ClientName
                                    </a>
                                }
                            </td>
                            <td>@sale.SaleItemsCount</td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(sale.TotalPrice))
                                {
                                    @sale.TotalPrice @sale.Currency
                                }                            
                            </td>
                            <td>
                                <span class="label label@(sale.IsSubmitted ? "-success" : "-warning")">
                                    @(sale.IsSubmitted ? "Подтверждено" : "Не подтверждено")
                                </span>
                            </td>
                            <td nowrap="nowrap">
                            <a asp-controller="Sale"
                                asp-action="Details"
                                asp-route-id="@sale.ID"
                                class="btn btn-xs btn-default"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                data-original-title="Просмотреть информацию о продаже"
                                title="">
                                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                            </a>                        
                            @if (Model.Mode == SaleTableMode.SaleIndex)
                            {
                                if (sale.CanBeUpdated)
                                {
                                    <a asp-controller="Sale"
                                    asp-action="Update"
                                    asp-route-id="@sale.ID"
                                    class="btn btn-xs btn-default"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    data-original-title="Редактировать продажу"
                                    title="">
                                        <i class="fa fa-fw fa-pencil-square" aria-hidden="true"></i>
                                    </a>
                                }
                                if (sale.CanBeDeleted)
                                {
                                    <a class="btn btn-xs btn-warning"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    data-original-title="Отменить продажу"
                                    title=""
                                    asp-controller="Sale"
                                    asp-action="Delete"
                                    asp-route-id="@sale.ID">
                                        <i class="fa fa-fw fa-hand-stop-o" aria-hidden="true"></i>
                                    </a>
                                }
                            }                        
                        </td>  
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/saleIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/saleIndex.min.js" asp-append-version="true"></script>
    </environment>
}
