@model DashboardModel

@{
    ViewBag.Title = "SORANO - Главная";
    ViewBag.Header = "Главная";
    ViewBag.Icon = "fa fa-home";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li class="active">@ViewBag.Header</li>
    </ul>
}

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-archive fa-3x dashboard-icon"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="dashboard-value">@Model.GoodsCount</div>
                            <div class="dashboard-description">Кол-во товаров</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hide-if="@(!Model.ShowForLocation)" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user-o fa-3x dashboard-icon"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="dashboard-value">@Model.MonthPersonalSales</div>
                            <div class="dashboard-description">Сумма личных продаж</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hide-if="@(!Model.IsSuperUser && Model.ShowForLocation)" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-handshake-o fa-3x dashboard-icon"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="dashboard-value">@Model.MonthSales</div>
                            <div class="dashboard-description">Сумма продаж</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hide-if="@Model.ShowForLocation" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cart-arrow-down fa-3x dashboard-icon"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="dashboard-value">@Model.MonthDeliveries</div>
                            <div class="dashboard-description">Сумма поставок</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hide-if="@(!Model.IsSuperUser && Model.ShowForLocation)" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel@(Model.IsProfitPositive ? "-success" : "-danger")">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-balance-scale fa-3x dashboard-icon"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="dashboard-value">@Model.MonthProfit</div>
                            <div class="dashboard-description">Прибыль</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/dashboard.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/dashboard.min.js" asp-append-version="true"></script>
    </environment>
}
