@model DashboardModel

@{
    ViewBag.Title = "SORANO - Главная";
    ViewBag.Header = "Главная";
    ViewBag.Icon = "fa fa-home";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li class="active">@ViewBag.Header</li>
    </ul>
}

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cart-arrow-down fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" style="font-size: 30px;">@Model.TotalIncome</div>
                            <div>Сумма поставок</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-handshake-o fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" style="font-size: 30px;">@Model.TotalSales</div>
                            <div>Сумма продаж</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel@(Model.IsBalancePositive ? "-success" : "-danger")">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-balance-scale fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" style="font-size: 30px;">@Model.Balance</div>
                            <div>Баланс</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-archive fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" style="font-size: 30px;">@Model.GoodsCount</div>
                            <div>Товаров</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/dashboard.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/dashboard.min.js" asp-append-version="true"></script>
    </environment>
}
