@model IList<LocationTypeModel>

<table id="location-types-datatable" class="table table-striped table-bordered table-hover table-responsive" style="width: 100%">
    <thead>
        <tr role="row" id="search-row">
            <th style="width: 5%" rowspan="1" colspan="1"></th>
            <th style="width: 30%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Название" /></th>
            <th style="width: 53%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Описание" /></th>
            <th style="width: 12%" rowspan="1" colspan="1"></th>
        </tr>
        <tr role="row">
            <th style="width: 5%">ID</th>
            <th style="width: 30%"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>&nbsp;Название</th>
            <th style="width: 53%"><i class="fa fa-fw fa-align-justify" aria-hidden="true"></i>&nbsp;Описание</th>
            <th style="width: 12%">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var locationType in Model)
        {
            <tr>
                <td>@locationType.ID</td>
                <td>
                    <a asp-controller="LocationType"
                       asp-action="Details"
                       asp-route-id="@locationType.ID"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-original-title="Просмотреть информацию о типе мест"
                       title="">
                        @locationType.Name
                    </a>
                </td>
                <td>@locationType.Description</td>
                <td>
                    <a asp-controller="LocationType"
                       asp-action="Details"
                       asp-route-id="@locationType.ID"
                       class="btn btn-xs btn-default"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-original-title="Просмотреть информацию о типе мест"
                       title="">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <a asp-controller="LocationType"
                       asp-action="Update"
                       asp-route-id="@locationType.ID"
                       class="btn btn-xs btn-default"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-original-title="Редактировать свойства типа мест"
                       title="">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-xs btn-danger @(locationType.CanBeDeleted ? "" : "disabled")"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-original-title="Удалить тип мест"
                       title=""
                       asp-controller="LocationType"
                       asp-action="Delete"
                       asp-route-id="@locationType.ID">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
