@model IList<LocationModel>

@{
    ViewBag.Title = "SORANO - Места";
    ViewBag.Header = "Места";
    ViewBag.Description = "и типы мест";
    ViewBag.Icon = "fa fa-map-marker";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Места</li>
    </ul>
}

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#locations-tab" data-toggle="tab" aria-expanded="False">
                    <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                    Таблица мест
                </a>
            </li>
            <li>
                <a href="#location-types-tab" data-toggle="tab" aria-expanded="False">
                    <i class="fa fa-fw fa-map-signs" aria-hidden="true"></i>
                    Таблица типов мест
                </a>
            </li>
        </ul>
        <div id="locations-tab-content" class="tab-content">
            <div class="tab-pane fade active in" id="locations-tab">
                <div class="panel panel-primary" style="border-radius: 0;">
                    <div class="panel-heading" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                        <a class="btn btn-default btn-xs pull-right"
                           asp-controller="Location"
                           asp-action="Create"
                           data-toggle="tooltip"
                           data-placement="right"
                           data-original-title="Добавить место"
                           title="">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <table id="locations-datatable" class="table table-striped table-bordered table-hover table-responsive" style="width: 100%">
                            <thead>
                                <tr role="row" id="search-row">
                                    <th style="width: 5%" rowspan="1" colspan="1"></th>
                                    <th style="width: 30%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Название" /></th>
                                    <th style="width: 53%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Коментарий" /></th>
                                    <th style="width: 12%" rowspan="1" colspan="1"></th>
                                </tr>
                                <tr role="row">
                                    <th style="width: 5%">ID</th>
                                    <th style="width: 30%"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>&nbsp;Название</th>
                                    <th style="width: 53%"><i class="fa fa-fw fa-commenting" aria-hidden="true"></i>&nbsp;Коментарий</th>
                                    <th style="width: 12%">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var location in Model)
                                {
                                    <tr class="@(location.IsDeleted ? "danger" : "")">
                                        <td>@location.ID</td>
                                        <td>
                                            <a asp-controller="Location"
                                               asp-action="Details"
                                               asp-route-id="@location.ID"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-original-title="Просмотреть информацию о месте"
                                               title="">
                                                @location.Name
                                            </a>
                                        </td>
                                        <td>@location.Comment</td>
                                        <td>
                                            <a asp-controller="Location"
                                               asp-action="Details"
                                               asp-route-id="@location.ID"
                                               class="btn btn-xs btn-default"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-original-title="Просмотреть информацию о месте"
                                               title="">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </a>
                                            @if (!location.IsDeleted)
                                            {
                                                <a asp-controller="Location"
                                                   asp-action="Update"
                                                   asp-route-id="@location.ID"
                                                   class="btn btn-xs btn-default"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   data-original-title="Редактировать свойства места"
                                                   title="">
                                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-xs btn-danger @(location.CanBeDeleted ? "" : "disabled")"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   data-original-title="Удалить место"
                                                   title=""
                                                   asp-controller="Location"
                                                   asp-action="Delete"
                                                   asp-route-id="@location.ID">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            }                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="location-types-tab">
                <div class="panel panel-primary" style="border-radius: 0;">
                    <div class="panel-heading" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                        <a class="btn btn-default btn-xs pull-right"
                           asp-controller="LocationType"
                           asp-action="Create"
                           data-toggle="tooltip"
                           data-placement="right"
                           data-original-title="Добавить тип мест"
                           title="">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        @await Component.InvokeAsync("LocationTypes")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var locationsTable = $("#locations-datatable").DataTable({
                responsive: true,
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ],
                "pagingType": "numbers",
                "language": {
                    "lengthMenu": "Отобразить _MENU_ мест на странице",
                    "zeroRecords": "Места отсутствуют",
                    "info": "Отображение страницы _PAGE_ из _PAGES_",
                    "infoEmpty": "Записи отсутствуют",
                    "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                    "search": "Поиск"
                }
            });

            locationsTable.columns().eq( 0 ).each( function ( colIdx ) {
                $('input', $('#locations-datatable th')[colIdx] ).on( 'keyup change', function () {
                    locationsTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });

            var locationTypesTable = $("#location-types-datatable").DataTable({
                responsive: true,
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ],
                "pagingType": "numbers",
                "language": {
                    "lengthMenu": "Отобразить _MENU_ типов мест на странице",
                    "zeroRecords": "Типы мест отсутствуют",
                    "info": "Отображение страницы _PAGE_ из _PAGES_",
                    "infoEmpty": "Записи отсутствуют",
                    "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                    "search": "Поиск"
                }
            });

            locationTypesTable.columns().eq(0).each(function (colIdx) {
                $('input', $('#location-types-datatable th')[colIdx]).on('keyup change', function () {
                    locationTypesTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });

            $('.pagination').addClass('pagination-sm');
        });
    </script>
}