@model ClientCreateUpdateViewModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"];
    var title = isEdit ? "Редактирование" : "Создание";
}

@{
    ViewBag.Title = "SORANO - " + title + " клиента";
    ViewBag.Header = title;
    ViewBag.Description = " клиента";
    ViewBag.Icon = "fa fa-fw fa-address-book";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Client" asp-action="Index">Клиенты</a></li>
        <li class="active">@title клиента</li>
    </ul>
}

<form asp-action="@(isEdit ? "Update" : "Create")"
      asp-controller="Client"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="ID" />
    @for (var i = 0; i < Model.Recommendations.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Recommendations[i].ID" />
        <input type="hidden" asp-for="@Model.Recommendations[i].ParentID" />
    }
    @for (int i = 0; i < Model.Attachments.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Attachments[i].ID" />
        <input type="hidden" asp-for="@Model.Attachments[i].IsNew" />
        <input type="hidden" asp-for="@Model.Attachments[i].FullPath" />
        <input type="hidden" asp-for="@Model.Attachments[i].Type.MimeTypes" />
        <input type="hidden" asp-for="@Model.Attachments[i].Type.Name" />
    }
    @Html.HiddenFor(m => m.MainPicture.ID)
    @Html.HiddenFor(m => m.MainPicture.Name)
    @Html.HiddenFor(m => m.MainPicture.FullPath)
    @Html.HiddenFor(m => m.MainPicture.TypeID)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_MainPictureForm.cshtml", Model)
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-address-card"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Name" placeholder="Имя"/>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Description"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-fw fa-align-justify"></i></span>
                    <textarea class="form-control input-sm" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="PhoneNumber"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="PhoneNumber" placeholder="Номер телефона"/>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="CardNumber"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-credit-card"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="CardNumber" placeholder="Номер карты"/>
                </div>
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_AttachmentsForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_RecommendationsForm.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <a class="btn btn-default btn-sm" asp-controller="Client" asp-action="Index">
                    <i class="fa fa-fw fa-close"></i>
                    Отмена
                </a>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-fw fa-check"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/clientCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/clientCreate.min.js" asp-append-version="true"></script>
    </environment>
}
