@model IEnumerable<ClientIndexViewModel>

@{
    ViewBag.Title = "SORANO - Клиенты";
    ViewBag.Header = "Список";
    ViewBag.Description = "клиентов";
    ViewBag.Icon = "fa fa-fw fa-address-book";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Клиенты</li>
    </ul>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Таблица клиентов
                <span class="badge" style="margin-left: 5px;">@Model.Count()</span>
                <a class="btn btn-default btn-xs pull-right"
                   asp-controller="Client"
                   asp-action="Create"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Добавить клиента"
                   title="">
                    <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                </a>
                <a class="btn btn-default btn-xs pull-right"
                   asp-controller="Client"
                   asp-action="ShowDeleted"
                   asp-route-show=@(ViewBag.ShowDeleted ? "false" : "true")
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title=@(ViewBag.ShowDeleted ? "Скрыть удалённых клиентов" : "Отобразить удалённые клиенты")
                   title="">
                    <i class="fa fa-fw @(ViewBag.ShowDeleted ? "fa-eye-slash" : "fa-eye")" aria-hidden="true"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table id="clients-datatable" class="table table-striped table-hover">
                    <thead>
                        <tr role="row" class="search-row">
                            <th><input type="text" class="form-control input-sm" placeholder="Изменён" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Имя" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Описание" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Номер телефона" /></th>
                            <th><input type="text" class="form-control input-sm" placeholder="Номер карты" /></th>
                            <th></th>
                        </tr>
                        <tr role="row">
                            <th><i class="fa fa-fw fa-calendar"></i>Изменён</th>
                            <th><i class="fa fa-fw fa-address-card"></i>Название</th>
                            <th><i class="fa fa-fw fa-align-justify"></i>Описание</th>
                            <th><i class="fa fa-fw fa-phone"></i>Номер телефона</th>
                            <th><i class="fa fa-fw fa-credit-card"></i>Номер карты</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model)
                        {
                            <tr class="@(client.IsDeleted ? "danger" : "")">
                                <td><span class="hide">@client.ModifiedStandard</span>@client.Modified</td>
                                <td>
                                    <a asp-controller="Client"
                                       asp-action="Details"
                                       asp-route-id="@client.ID"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       data-original-title="Просмотреть информацию о клиенте"
                                       title="">
                                        @client.Name
                                    </a>
                                </td>
                                <td>@client.Description</td>
                                <td>@client.PhoneNumber</td>
                                <td>@client.CardNumber</td>
                                <td>
                                    <a asp-controller="Client"
                                       asp-action="Details"
                                       asp-route-id="@client.ID"
                                       class="btn btn-xs btn-default"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       data-original-title="Просмотреть информацию о клиенте"
                                       title="">
                                        <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                    @if (!client.IsDeleted)
                                    {
                                        <a asp-controller="Client"
                                           asp-action="Update"
                                           asp-route-id="@client.ID"
                                           class="btn btn-xs btn-default"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           data-original-title="Редактировать свойства клиента"
                                           title="">
                                            <i class="fa fa-fw fa-pencil-square" aria-hidden="true"></i>
                                        </a>
                                        if (client.CanBeDeleted)
                                        {
                                            <a class="btn btn-xs btn-danger"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-original-title="Удалить клиента"
                                               title=""
                                               asp-controller="Client"
                                               asp-action="Delete"
                                               asp-route-id="@client.ID">
                                                <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                            </a>
                                        }
                                    }                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/clientIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/clientIndex.min.js" asp-append-version="true"></script>
    </environment>
}