@model DeliveryModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"];
    var title = isEdit ? "Редактирование" : "Создание";
    var returnUrl = isEdit ? Url.Action("Update", "Delivery") : Url.Action("Create", "Delivery");
}

@{
    ViewBag.Title = "SORANO - " + title + " накладной";
    ViewBag.Header = title;
    ViewBag.Description = " накладной";
    ViewBag.Icon = "fa fa-cart-arrow-down";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        span.select2-selection.select2-selection--single {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    </style>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Delivery" asp-action="Index">Поставки</a></li>
        <li class="active">@title накладной</li>
    </ul>
}

<form asp-action="@(isEdit ? "Update" : "Create")"
      asp-controller="Delivery"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="ID" />
    @for (var i = 0; i < Model.Recommendations.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Recommendations[i].ID" />
        <input type="hidden" asp-for="@Model.Recommendations[i].ParentID" />
    }
    @for (int i = 0; i < Model.Attachments.Count; i++)
    {
        @Html.HiddenFor(m => m.Attachments[i].ID)
        @Html.HiddenFor(m => m.Attachments[i].IsNew)
        @Html.HiddenFor(m => m.Attachments[i].FullPath)
        @Html.HiddenFor(m => m.Attachments[i].Type.MimeTypes)
        @Html.HiddenFor(m => m.Attachments[i].Type.Name)
    }
    @Html.HiddenFor(m => m.MainPicture.ID)
    @Html.HiddenFor(m => m.MainPicture.Name)
    @Html.HiddenFor(m => m.MainPicture.FullPath)
    @Html.HiddenFor(m => m.MainPicture.TypeID)

    @Html.HiddenFor(m => m.TotalGrossPrice)
    @Html.HiddenFor(m => m.TotalDiscount)
    @Html.HiddenFor(m => m.TotalDiscountPrice) 
    
    @Html.HiddenFor(m => m.SelectedCurrency)
    @Html.HiddenFor(m => m.Status)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_MainPictureForm.cshtml", Model)
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label" asp-for="BillNumber"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-cart-arrow-down"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="BillNumber" placeholder="Номер накладной"/>
                </div>
                <span asp-validation-for="BillNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SupplierID"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-truck"></i></span>
                    <select class="form-control input-sm select-supplier" 
                            asp-for="SupplierID" 
                            asp-items="@ViewBag.Suppliers"></select>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm"
                                type="submit"
                                asp-action="CreateSupplier"
                                asp-route-returnUrl="@returnUrl"
                                data-toggle="tooltip"
                                data-placement="right"
                                data-original-title="Создать поставщика"
                                title="">
                            <i class="fa fa-fw fa-plus"></i>
                        </button>
                    </span>
                </div>
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="LocationID"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-map-marker"></i></span>
                    <select class="form-control input-sm select-location" 
                            asp-for="LocationID" 
                            asp-items="@ViewBag.Locations"></select>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm"
                                type="submit"
                                asp-action="CreateLocation"
                                asp-route-returnUrl="@returnUrl"
                                data-toggle="tooltip"
                                data-placement="right"
                                data-original-title="Создать место"
                                title="">
                            <i class="fa fa-fw fa-plus"></i>
                        </button>
                    </span>
                </div>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="DeliveryDate"></label>
                <div class="input-group input-group-sm date" id="pick-delivery-date">
                    <input class="form-control input-sm" type="text" asp-for="DeliveryDate" placeholder="Дата поставки" />
                    <span class="input-group-addon">
                        <span class="fa fa-fw fa-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="PaymentDate"></label>
                <div class="input-group input-group-sm date" id="pick-payment-date">
                    <input class="form-control input-sm" type="text" asp-for="PaymentDate" placeholder="Дата оплаты" />
                    <span class="input-group-addon">
                        <span class="fa fa-fw fa-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Валюта</label>
                <table class="table table-responsive" style="width: 100%; margin-bottom: 0;">
                    <tbody>
                    <tr>
                        <td style="width: 33%; padding: 0; padding-right: 5px;">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
                                    <input type="radio" name="select_currency" id="select_currency_uah" value="0" style="margin-right: 1px;"/>
                                    <span style="font-weight: bold;">&#8372;</span>
                                </span>
                                <input type="text" readonly="readonly" class="form-control input-sm"/>
                            </div>                          
                        </td>
                        <td style="width: 33%; padding: 0; padding-right: 5px;">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
                                    <input type="radio" name="select_currency" id="select_currency_usd" value="1"/>
                                    <i class="fa fa-usd"></i>
                                </span>
                                <input type="number" readonly="readonly" step="0.01" min="0.0" asp-for="DollarRate" class="form-control input-sm" />
                            </div>
                            <span asp-validation-for="DollarRate" class="text-danger"></span>
                        </td>
                        <td style="width: 33%; padding: 0; padding-right: 5px;">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
                                    <input type="radio" name="select_currency" id="select_currency_eur" value="2" />
                                    <i class="fa fa-eur"></i>
                                </span>
                                <input type="number" readonly="readonly" step="0.01" min="0.0" asp-for="EuroRate" class="form-control input-sm" />
                            </div>
                            <span asp-validation-for="EuroRate" class="text-danger"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_AttachmentsForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_RecommendationsForm.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group well well-sm">
                <label class="control-label">Позиции поставки:</label>
                <div id="deliveryItems">
                    <table class="table table-responsive" style="width: 100%; margin-bottom: 0;">
                        @if (Model.DeliveryItems.Any())
                        {
                            <thead>
                            <tr>
                                <th style="width: 5%">№</th>
                                <th style="width: 43%"><i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i>Товар</th>
                                <th style="width: 10%">Кол-во, шт.</th>
                                <th style="width: 10%">Цена</th>
                                <th style="width: 10%">Без скидки</th>
                                <th style="width: 10%">Скидка</th>
                                <th style="width: 12%">Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < Model.DeliveryItems.Count; i++)
                            {
                                <tr>
                                    <td style="padding: 0; padding-right: 5px;padding-bottom: 5px; text-align: center; vertical-align: middle;">@(i + 1)</td>
                                    <td style="padding: 0; padding-right: 5px; padding-bottom: 5px;">
                                        <div class="input-group input-group-sm">
                                            <select class="form-control input-sm deliveries select-article"
                                                    asp-for="@Model.DeliveryItems[i].ArticleID"
                                                    asp-items="@ViewBag.Articles">                                            
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-sm"
                                                        type="submit"
                                                        asp-action="CreateArticle"
                                                        asp-route-returnUrl="@returnUrl"
                                                        asp-route-num="@i"
                                                        data-toggle="tooltip"
                                                        data-placement="right"
                                                        data-original-title="Создать артикул"
                                                        title="">
                                                    <i class="fa fa-fw fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>  
                                        <span asp-validation-for="@Model.DeliveryItems[i].ArticleID" class="text-danger"></span>
                                    </td>
                                    <td style="padding: 0; padding-right: 5px; padding-bottom: 5px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control input-sm deliveries delivery_item_quantity"
                                                   id="delivery_item_quantity_@i"
                                                   asp-for="@Model.DeliveryItems[i].Quantity"
                                                   type="text"/>
                                        </div> 
                                        <span asp-validation-for="@Model.DeliveryItems[i].Quantity" class="text-danger"></span>
                                    </td>
                                    <td style="padding: 0; padding-right: 5px; padding-bottom: 5px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control input-sm deliveries delivery_item_unitprice"
                                                   id="delivery_item_unitprice_@i"
                                                   asp-for="@Model.DeliveryItems[i].UnitPrice"
                                                   type="text"/>
                                        </div>    
                                        <span asp-validation-for="@Model.DeliveryItems[i].UnitPrice" class="text-danger"></span>
                                    </td>
                                    <td style="padding: 0; padding-right: 5px; padding-bottom: 5px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control input-sm deliveries delivery_item_grossprice"
                                                   asp-for="@Model.DeliveryItems[i].GrossPrice"
                                                   readonly="readonly"
                                                   type="text">
                                        </div>     
                                        <span asp-validation-for="@Model.DeliveryItems[i].GrossPrice" class="text-danger"></span>
                                    </td>
                                    <td style="padding: 0; padding-right: 5px; padding-bottom: 5px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control input-sm deliveries delivery_item_discount"
                                                   id="delivery_item_discount_@i"
                                                   asp-for="@Model.DeliveryItems[i].Discount"
                                                   type="text"/>
                                        </div>  
                                        <span asp-validation-for="@Model.DeliveryItems[i].Discount" class="text-danger"></span>
                                    </td>
                                    <td style="padding: 0;padding-right: 5px;padding-bottom: 5px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control input-sm deliveries delivery_item_discountprice" 
                                                   asp-for="@Model.DeliveryItems[i].DiscountPrice" 
                                                   readonly="readonly"
                                                   type="text">
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger btn-sm"
                                                        type="submit"
                                                        asp-action="DeleteDeliveryItem"
                                                        asp-route-isEdit="@(ViewData.ContainsKey("IsEdit") && (bool) ViewData["IsEdit"])"
                                                        asp-route-num="@i"
                                                        data-toggle="tooltip"
                                                        data-placement="right"
                                                        data-original-title="Удалить позицию"
                                                        title="">
                                                    <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <span asp-validation-for="@Model.DeliveryItems[i].DiscountPrice" class="text-danger"></span>
                                    </td>
                                </tr>                                
                            }
                            <tr>
                                <td style="padding: 2px;"></td>
                                <td style="padding: 2px;"></td>
                                <td style="padding: 2px;"></td>
                                <td style="padding: 2px;">Всего:</td>
                                <td style="padding: 2px;" id="delivery_totalgrossprice">@Model.TotalGrossPrice</td>
                                <td style="padding: 2px;" id="delivery_totaldiscount">@Model.TotalDiscount</td>
                                <td style="padding: 2px;" id="delivery_totaldiscountprice">@Model.TotalDiscountPrice</td>
                            </tr>
                            </tbody>
                        }
                        <tfoot>
                        <tr>
                            <td style="padding: 0;">
                                <button class="btn btn-default btn-sm"
                                        type="submit"
                                        asp-action="AddDeliveryItem"
                                        asp-route-isEdit="@(ViewData.ContainsKey("IsEdit") && (bool) ViewData["IsEdit"])"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        data-original-title="Добавить позицию"
                                        title="">
                                    <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <a class="btn btn-default btn-sm" asp-controller="Delivery" asp-action="Index">
                    <i class="fa fa-fw fa-close"></i>
                    Отмена
                </a>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-fw fa-floppy-o"></i>
                    Сохранить
                </button>
                <button type="submit" class="btn btn-success btn-sm submit-delivery">
                    <i class="fa fa-fw fa-check"></i>
                    Подтвердить и сохранить 
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/deliveryCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/deliveryCreate.min.js" asp-append-version="true"></script>
    </environment>
}