@model DeliveryCreateUpdateViewModel

@{
    var title = "Оформление";
    var returnUrl = Model.IsUpdate ? Url.Action("Update", "Delivery") : Url.Action("Create", "Delivery");
}

@{
    ViewBag.Title = "SORANO - " + title + " поставки";
    ViewBag.Header = title;
    ViewBag.Description = " поставки";
    ViewBag.Icon = "fa fa-cart-arrow-down";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        span.select2-selection.select2-selection--single {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    </style>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Delivery" asp-action="Index">Поставки</a></li>
        <li class="active">@title поставки</li>
    </ul>
}

<form asp-action="@(Model.IsUpdate ? "Update" : "Create")"
      asp-controller="Delivery"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="IsUpdate" />
    <input type="hidden" asp-for="SupplierID" />
    <input type="hidden" asp-for="SupplierName" />
    <input type="hidden" asp-for="LocationID" />
    <input type="hidden" asp-for="LocationName" />
    <input type="hidden" asp-for="SelectedCurrency" />
    <input type="hidden" asp-for="ItemsCount" />
    @for (var i = 0; i < Model.Recommendations.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Recommendations[i].ID" />
    }
    @for (var i = 0; i < Model.Attachments.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Attachments[i].ID" />
        <input type="hidden" asp-for="@Model.Attachments[i].IsNew" />
        <input type="hidden" asp-for="@Model.Attachments[i].FullPath" />
        <input type="hidden" asp-for="@Model.Attachments[i].MimeTypes" />
        <input type="hidden" asp-for="@Model.Attachments[i].TypeName" />
        <input type="hidden" asp-for="@Model.Attachments[i].TypeID" />
    }
    @Html.HiddenFor(m => m.MainPicture.ID)
    @Html.HiddenFor(m => m.MainPicture.Name)
    @Html.HiddenFor(m => m.MainPicture.FullPath)
    @Html.HiddenFor(m => m.MainPicture.TypeID)

    @Html.HiddenFor(m => m.TotalGrossPrice)
    @Html.HiddenFor(m => m.TotalDiscount)
    @Html.HiddenFor(m => m.TotalDiscountedPrice)

    @Html.HiddenFor(m => m.SelectedCurrency)
    @Html.HiddenFor(m => m.IsSubmitted)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Информация:</strong> Поля, отмеченные символом *, являются обязательными для ввода
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_MainPictureForm.cshtml", Model)
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label" asp-for="BillNumber"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-cart-arrow-down"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="BillNumber" placeholder="Номер накладной" autofocus />
                </div>
                <span asp-validation-for="BillNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SupplierID"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-truck"></i></span>
                    <select class="form-control input-sm select-supplier"
                            asp-for="SupplierID"></select>
                    <div class="input-group-btn">
                        <button asp-action="CreateSupplier"
                                asp-route-returnUrl="@returnUrl"
                                tooltip="Создать поставщика"
                                tooltip-placement="right"
                                class="btn btn-default btn-sm">
                            <i class="fa fa-fw fa-plus"></i>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="LocationID"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-map-marker"></i></span>
                    <select class="form-control input-sm select-location"
                            asp-for="LocationID"></select>
                    <span class="input-group-btn">
                        <button asp-action="CreateLocation"
                                asp-route-returnUrl="@returnUrl"
                                tooltip="Создать место"
                                tooltip-placement="right"
                                class="btn btn-default btn-sm">
                            <i class="fa fa-fw fa-plus"></i>
                        </button>
                    </span>
                </div>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="DeliveryDate"></label>
                <div class="input-group input-group-sm date" id="pick-delivery-date">
                    <input class="form-control input-sm" type="text" asp-for="DeliveryDate" placeholder="Дата поставки" />
                    <span class="input-group-addon">
                        <span class="fa fa-fw fa-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="PaymentDate"></label>
                <div class="input-group input-group-sm date" id="pick-payment-date">
                    <input class="form-control input-sm" type="text" asp-for="PaymentDate" placeholder="Дата оплаты" />
                    <span class="input-group-addon">
                        <span class="fa fa-fw fa-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Валюта</label>
                <table class="table table-responsive" style="width: 100%; margin-bottom: 0;">
                    <tbody>
                        <tr>
                            <td style="width: 33%; padding: 0; padding-right: 5px;">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">
                                        <input type="radio" name="select_currency" id="select_currency_uah" value="0" style="margin-right: 1px;" />
                                        <span style="font-weight: bold;">&#8372;</span>
                                    </span>
                                    <input type="text" readonly="readonly" class="form-control input-sm" value="1.00" />
                                </div>
                            </td>
                            <td style="width: 33%; padding: 0; padding-right: 5px;">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">
                                        <input type="radio" name="select_currency" id="select_currency_usd" value="1" />
                                        <i class="fa fa-usd"></i>
                                    </span>
                                    <input type="text" readonly="readonly" asp-for="DollarRate" class="form-control input-sm" />
                                </div>
                                <span asp-validation-for="DollarRate" class="text-danger"></span>
                            </td>
                            <td style="width: 33%; padding: 0; padding-right: 5px;">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">
                                        <input type="radio" name="select_currency" id="select_currency_eur" value="2" />
                                        <i class="fa fa-eur"></i>
                                    </span>
                                    <input type="text" readonly="readonly" asp-for="EuroRate" class="form-control input-sm" />
                                </div>
                                <span asp-validation-for="EuroRate" class="text-danger"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_AttachmentsForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_RecommendationsForm.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label class="control-label">Позиции поставки *</label>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span asp-validation-for="ItemsCount" class="text-danger"></span>
                    <button asp-controller="Delivery"
                            asp-action="AddItem"
                            asp-route-returnUrl="@returnUrl"
                            tooltip="Добавить позицию"
                            tooltip-placement="right"
                            class="btn btn-success btn-xs pull-right">
                        <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div id="delivery-items-table" style="display: none;">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <a class="btn btn-default btn-sm" asp-controller="Delivery" asp-action="Index">
                    <i class="fa fa-fw fa-arrow-left"></i>
                    Назад
                </a>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-fw fa-save"></i>
                    Сохранить
                </button>
                <button class="btn btn-success btn-sm submit-delivery">
                    <i class="fa fa-fw fa-check"></i>
                    Подтвердить
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/deliveryCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/deliveryCreate.min.js" asp-append-version="true"></script>
    </environment>
}