@model EntityBaseModel

<div class="form-group">
    <label class="control-label">Вложения:</label>
    <div id="attachments">
        <table class="table table-responsive" style="width: 100%; margin-bottom: 2px;">
            @if (Model.Attachments.Any())
            {
                <thead>
                <tr>
                    <th style="width: 60%"><i class="fa fa-fw fa-align-justify" aria-hidden="true"></i>Название</th>
                    <th style="width: 35%"><i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>Тип</th>
                    <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.Attachments.Count; i++)
                {
                    <tr>
                        <td style="width: 60%; padding: 2px;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                                <input class="form-control attachments" type="text" id="attachment_name_@i" asp-for="@Model.Attachments[i].Name" />
                                <span class="input-group-btn">
                                    <label class="btn btn-default">
                                        <i class="fa fa-paperclip"></i>
                                        <input type="file"
                                               style="display: none !important;"
                                               id="attachment_input_@i"
                                               name="attachments"
                                               accept="@Model.Attachments[i].Type?.MimeTypes"
                                               data-toggle="tooltip"
                                               data-placement="right"
                                               data-original-title="Выбрать файл" />
                                    </label>
                                </span>
                            </div>
                        </td>
                        <td style="width: 35%; padding: 2px;">
                            <select id="select_type_@i" onchange="getMimeType(@i);" class="form-control attachments" asp-for="@Model.Attachments[i].TypeID" asp-items="@ViewBag.AttachmentTypes"></select>
                        </td>
                        <td style="width: 5%; padding: 2px;">
                            @* ReSharper disable once Mvc.ActionNotResolved *@
                            <button class="btn btn-danger"
                                    type="submit"
                                    asp-action="DeleteAttachment"
                                    asp-route-isEdit="@(ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"])"
                                    asp-route-num="@i"
                                    data-toggle="tooltip"
                                    data-placement="right"
                                    data-original-title="Удалить вложение"
                                    title="">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            }
            <tfoot>
            <tr>
                <td colspan="2" style="padding: 2px; vertical-align: middle;">
                    @if (!Model.Attachments.Any())
                    {
                        <p class="text-info">
                            <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                            Вложения отсутствуют
                        </p>
                    }
                </td>
                <td style="padding: 2px;">
                    @* ReSharper disable once Mvc.ActionNotResolved *@
                    <button class="btn btn-success pull-right"
                            type="submit"
                            asp-action="AddAttachment"
                            asp-route-isEdit="@(ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"])"
                            data-toggle="tooltip"
                            data-placement="right"
                            data-original-title="Добавить вложение"
                            title="">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
