@model BaseCreateUpdateViewModel

<div class="form-group">
    <label class="control-label">Вложения:</label>
    <div id="attachments">
        <table class="table" style="margin-bottom: 0;">
            @if (Model.Attachments.Any())
            {
                <tbody>
                @for (var i = 0; i < Model.Attachments.Count; i++)
                {
                    <tr>
                        <td style="width: 60%; padding: 0; padding-right: 5px; padding-bottom: 5px;">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-fw fa-file-o"></i></span>
                                <input class="form-control attachments" type="text" id="attachment_name_@i" asp-for="@Model.Attachments[i].Name" />
                                <span class="input-group-btn">
                                    <label class="btn btn-default btn-sm">
                                        <i class="fa fa-fw fa-paperclip"></i>
                                        <input type="file"
                                               style="display: none !important;"
                                               id="attachment_input_@i"
                                               name="attachments"
                                               accept="@Model.Attachments[i].MimeTypes"
                                               data-toggle="tooltip"
                                               data-placement="right"
                                               data-original-title="Выбрать файл" />
                                    </label>
                                </span>
                            </div>
                            <span asp-validation-for="@Model.Attachments[i].Name" class="text-danger"></span>
                        </td>
                        <td style="width: 40%; padding: 0; padding-bottom: 5px;">
                            <div class="input-group input-group-sm">
                                <select id="select_type_@i" class="form-control input-sm select-attachment-type" asp-for="@Model.Attachments[i].TypeID"></select>
                                <span class="input-group-btn">
                                    @* ReSharper disable once Mvc.ActionNotResolved *@
                                    <button class="btn btn-danger btn-sm"
                                            type="submit"
                                            asp-action="DeleteAttachment"
                                            asp-route-num="@i"
                                            data-toggle="tooltip"
                                            data-placement="right"
                                            data-original-title="Удалить вложение"
                                            title="">
                                        <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <span asp-validation-for="@Model.Attachments[i].TypeID" class="text-danger"></span>
                        </td>
                    </tr>
                }
                </tbody>
            }
            <tfoot>
            <tr>
                <td style="padding: 0;">
                    @* ReSharper disable once Mvc.ActionNotResolved *@
                    <button class="btn btn-default btn-sm"
                            type="submit"
                            asp-action="AddAttachment"
                            data-toggle="tooltip"
                            data-placement="right"
                            data-original-title="Добавить вложение"
                            title="">
                        <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
