<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootswatch-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>       
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment> 
    @RenderSection("Styles", false) 
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Показать/скрыть меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SORANO</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home" aria-hidden="true"></i>&nbsp;Главная <span class="sr-only">(current)</span></a></li>                                        
                    <li>
                        <a asp-controller="Delivery" asp-action="Index">
                            <i class="fa fa-fw fa-cart-arrow-down" aria-hidden="true"></i>                           
                            Поставки
                            @await  Component.InvokeAsync("DeliveriesUnsubmittedCount")
                        </a>
                    </li>   
                    <li>
                        <a asp-controller="Goods" asp-action="Sales">
                            <i class="fa fa-fw fa-handshake-o" aria-hidden="true"></i>
                            Продажи
                        </a>
                    </li> 
                    <li>
                        <a asp-controller="Goods" asp-action="Index">
                            <i class="fa fa-fw fa-archive" aria-hidden="true"></i>
                            Товары
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-cog" aria-hidden="true"></i>&nbsp;Управление <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-controller="Article" asp-action="Index"><i class="fa fa-fw fa-barcode" aria-hidden="true"></i>&nbsp;Артикулы и типы артикулов</a></li>
                            <li><a asp-controller="Supplier" asp-action="Index"><i class="fa fa-fw fa-truck" aria-hidden="true"></i>&nbsp;Поставщики</a></li>
                            <li><a asp-controller="Client" asp-action="Index"><i class="fa fa-fw fa-address-book" aria-hidden="true"></i>&nbsp;Клиенты</a></li>
                            <li><a asp-controller="Location" asp-action="Index"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>&nbsp;Места и типы мест</a></li>
                            <li><a asp-controller="AttachmentType" asp-action="Index"><i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>&nbsp;Типы вложений</a></li>
                            <li class="divider"></li>
                            @if (User.IsInRole("administrator") || User.IsInRole("developer"))
                            {
                                <li>
                                    <a asp-controller="User" asp-action="Index"><i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;Пользователи</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">                    
                    @await Component.InvokeAsync("Account")
                </ul>
            </div>           
        </div>        
    </nav>    
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    @RenderSection("Breadcrumb", false)
                    <h2>
                        <i class="@ViewBag.Icon"></i>
                        @ViewBag.Header
                        <small>@ViewBag.Description</small>
                    </h2>
                </div>
            </div>            
        </div>
        <div class="row">
            @if (TempData.ContainsKey("Error"))
            {
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Ошибка!</strong> @TempData["Error"]
                    </div>
                </div>
            }
            @if (TempData.ContainsKey("Success"))
            {
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @TempData["Success"]
                    </div>
                </div>
            }
            @if (TempData.ContainsKey("Info"))
            {
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Информация:</strong> @TempData["Info"]
                    </div>
                </div>
            }
            @if (TempData.ContainsKey("Warning"))
            {
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> @TempData["Warning"]
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2017 - SORANO</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootswatch-dist/js/bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", false)
</body>
</html>
