<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootswatch-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />    
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", false)    
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Показать/скрыть меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SORANO</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Главная <span class="sr-only">(current)</span></a></li>
                    <li><a asp-controller="Article" asp-action="Index"><i class="fa fa-barcode" aria-hidden="true"></i>&nbsp;Артикулы</a></li>
                    <li><a asp-controller="Supplier" asp-action="Index"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Поставщики</a></li>
                    <li><a asp-controller="Client" asp-action="Index"><i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;Клиенты</a></li>
                    <li><a asp-controller="Location" asp-action="Index"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Места</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Управление <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-controller="AttachmentType" asp-action="Index"><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;Типы вложений</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.IsInRole("administrator") || User.IsInRole("developer"))
                    {
                        <li>
                            <a asp-controller="User" asp-action="List"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Пользователи</a>
                        </li>
                    }
                    @await Component.InvokeAsync("Account")
                </ul>
            </div>           
        </div>        
    </nav>    
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    @RenderSection("Breadcrumb", false)
                    <h2>
                        <i class="@ViewBag.Icon"></i>
                        @ViewBag.Header 
                        <small>@ViewBag.Description</small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>        
        <hr/>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2017 - SORANO</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootswatch-dist/js/bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", false)
</body>
</html>
