<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/sorano.ico")" />
    <link rel="stylesheet" href="~/lib/bootswatch-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", false)
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Показать/скрыть меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">SORANO</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fa fa-fw fa-home" aria-hidden="true"></i>
                        <span class="menu-item">Главная</span> 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Delivery" ? "active" : "")">
                    <a asp-controller="Delivery" asp-action="Index">
                        <i class="fa fa-fw fa-cart-arrow-down" aria-hidden="true"></i>
                        <span class="menu-item">Поставки</span>
                        @await Component.InvokeAsync("DeliveriesUnsubmittedCount")
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Sale" ? "active" : "")">
                    <a asp-controller="Sale" asp-action="Index">
                        <i class="fa fa-fw fa-handshake-o" aria-hidden="true"></i>
                        <span class="menu-item">Продажи</span>
                        @await Component.InvokeAsync("SalesUnsubmittedCount")
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Goods" ? "active" : "")">
                    <a asp-controller="Goods" asp-action="Index">
                        <i class="fa fa-fw fa-archive" aria-hidden="true"></i>
                        <span class="menu-item">Товары</span>
                    </a>
                </li>
                <li>
                    <a href="#" type="button" id="showVisitForm">
                        <i class="fa fa-fw fa-venus-mars" aria-hidden="true"></i>
                        <span class="menu-item">Посещение</span>
                    </a>
                </li>
                <administrator>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Report" ? "active" : "")">
                        <a asp-controller="Report" asp-action="Index">
                            <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>
                            <span class="menu-item">Отчёты</span>
                        </a>
                    </li>
                </administrator>               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
                        <span class="menu-item">Управление</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Article" || ViewContext.RouteData.Values["Controller"].ToString() == "ArticleType" ? "active" : "")">
                            <a asp-controller="Article" asp-action="Index"><i class="fa fa-fw fa-barcode" aria-hidden="true"></i>&nbsp;Артикулы и типы артикулов</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Supplier" ? "active" : "")">
                            <a asp-controller="Supplier" asp-action="Index"><i class="fa fa-fw fa-truck" aria-hidden="true"></i>&nbsp;Поставщики</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Client" ? "active" : "")">
                            <a asp-controller="Client" asp-action="Index"><i class="fa fa-fw fa-address-book" aria-hidden="true"></i>&nbsp;Клиенты</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Location" || ViewContext.RouteData.Values["Controller"].ToString() == "LocationType" ? "active" : "")">
                            <a asp-controller="Location" asp-action="Index"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>&nbsp;Места и типы мест</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "AttachmentType" ? "active" : "")">
                            <a asp-controller="AttachmentType" asp-action="Index"><i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>&nbsp;Типы вложений</a>
                        </li>
                        <li class="divider"></li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Visit" ? "active" : "")">
                            <a asp-controller="Visit" asp-action="Index"><i class="fa fa-fw fa-venus-mars" aria-hidden="true"></i>&nbsp;Посещения</a>
                        </li>
                        <administrator>
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
                                <a asp-controller="User" asp-action="Index"><i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;Пользователи</a>
                            </li>
                        </administrator>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @await Component.InvokeAsync("Account")
            </ul>
        </div>
    </div>
</nav>
<div class="progress progress-striped active" id="progress-bar">
    <div class="progress-bar"></div>
</div>
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                @RenderSection("Breadcrumb", false)
                <h2>
                    <i class="@ViewBag.Icon"></i>
                    @ViewBag.Header
                    <small>@ViewBag.Description</small>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" hide-if="@(!TempData.ContainsKey("Error"))">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Ошибка!</strong> @TempData["Error"]
            </div>
        </div>
        <div class="col-lg-12" hide-if="@(!TempData.ContainsKey("Success"))">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @TempData["Success"]
            </div>
        </div>
        <div class="col-lg-12" hide-if="@(!TempData.ContainsKey("Info"))">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Информация:</strong> @TempData["Info"]
            </div>
        </div>
        <div class="col-lg-12" hide-if="@(!TempData.ContainsKey("Warning"))">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Внимание!</strong> @TempData["Warning"]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @RenderBody()
        </div>       
    </div>
    <div class="row" id="visitFormContainer">
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div id="visitFormModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">
                                <i class="fa fa-fw fa-venus-mars" aria-hidden="true"></i>
                                Посещение
                            </h4>
                        </div>
                        <div class="modal-body" id="visitFormBody">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; 2019 - SORANO</p>
            </div>
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootswatch-dist/js/bootstrap.min.js"></script>
<script src="~/lib/select2/dist/js/select2.full.min.js"></script>
<script src="~/lib/moment/min/moment-with-locales.min.js"></script>
<script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<environment names="Development">
    <script src="~/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
@RenderSection("Scripts", false)
</body>
</html>
