@model EntityBaseModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool) ViewData["IsEdit"];
    var hasMainPicture = !string.IsNullOrEmpty(Model.MainPicture.Name);
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="form-group">
    <label class="control-label">Изображение:</label>
    <div class="input-group input-group-sm">
        <img id="mainPicture_img" 
             data-toggle="tooltip"
             data-placement="right"
             data-original-title="@Model.MainPicture.Name"
             title=""
             style='@(hasMainPicture ? "" : "display: none;")' 
             src="@(hasMainPicture ? Url.Content(Model.MainPicture.FullPath) : "")"/>                   
        <div id="mainPicture_info" class="main-picture-info"
             style='@(hasMainPicture ? "display: none;" : "")'>                        
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Основное изображение отсутствует
            </p>
        </div>              
        <div class="btn-group-vertical btn-group-sm">
            <label data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Выбрать файл изображения"
                   class="btn btn-default btn-sm">
                <i class="fa fa-fw fa-paperclip"></i>
                <input type="file" 
                       id="main_picture_input"
                       style="display: none !important;"
                       name="mainPictureFile"
                       onchange="previewMainPicture(this);"
                       accept="image/*"/>
            </label>
            @* ReSharper disable once Mvc.ActionNotResolved *@
            <button class="btn btn-default btn-sm"
                    type="submit"
                    asp-action="SelectMainPicture"
                    asp-route-returnUrl="@(isEdit ? Url.Action("Update", controllerName) : Url.Action("Create", controllerName))"
                    data-toggle="tooltip"
                    data-placement="right"
                    data-original-title="Выбрать изображение из существующих вложений"
                    title="">
                <i class="fa fa-fw fa-th-large"></i>
            </button>
            @* ReSharper disable once Mvc.ActionNotResolved *@
            @if (!string.IsNullOrEmpty(Model.MainPicture.Name))
            {
                <button class="btn btn-danger btn-sm"
                        type="submit"
                        asp-action="DeleteMainPicture"
                        asp-route-isEdit="@isEdit"
                        data-toggle="tooltip"
                        data-placement="right"
                        data-original-title="Удалить изображение"
                        title="">
                    <i class="fa fa-trash"></i>
                </button>
            }                    
        </div>
    </div>
</div>