@model EntityBaseModel

<div class="form-group">
    <label class="control-label">Рекомендации:</label>
    <div id="recommendations">
        <table class="table table-responsive" style="width: 100%; margin-bottom: 2px;">
            @if (Model.Recommendations.Any())
            {
                <thead>
                <tr>
                    <th style="width: 70%"><i class="fa fa-fw fa-comment" aria-hidden="true"></i>Текст</th>
                    <th style="width: 25%"><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>Значение</th>
                    <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.Recommendations.Count; i++)
                {
                    <tr>
                        <td style="padding: 2px;"><textarea style="resize: vertical;" class="form-control recommendations" rows="1" asp-for="@Model.Recommendations[i].Comment"></textarea></td>
                        <td style="padding: 2px;"><input class="form-control recommendations" type="text" asp-for="@Model.Recommendations[i].ValueString"/></td>
                        <td style="padding: 2px;">
                            @* ReSharper disable once Mvc.ActionNotResolved *@
                            <button class="btn btn-danger"
                                    type="submit"
                                    asp-action="DeleteRecommendation"
                                    asp-route-isEdit="@(ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"])"
                                    asp-route-num="@i"
                                    data-toggle="tooltip"
                                    data-placement="right"
                                    data-original-title="Удалить рекомендацию"
                                    title="">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            }
            <tfoot>
            <tr>
                <td colspan="2" style="padding: 2px; vertical-align: middle;">
                    @if (!Model.Recommendations.Any())
                    {
                        <p class="text-info">
                            <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                            Рекомендации отсутствуют
                        </p>
                    }
                </td>
                <td style="padding: 2px;">
                    @* ReSharper disable once Mvc.ActionNotResolved *@
                    <button class="btn btn-success pull-right"
                            type="submit"
                            asp-action="AddRecommendation"
                            asp-route-isEdit="@(ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"])"
                            data-toggle="tooltip"
                            data-placement="right"
                            data-original-title="Добавить рекомендацию"
                            title="">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>