@model VisitTableViewModel

<table id="visits-datatable" class="table table-striped table-hover">
    <thead>
        <tr role="row" class="search-row">
            <th><input type="text" class="form-control input-sm" placeholder="Дата посещения" /></th>
            <th><input type="text" class="form-control input-sm" placeholder="Код посетителей" /></th>
            <th><input type="text" class="form-control input-sm" placeholder="Место" /></th>
            <th></th>
        </tr>
        <tr role="row">
            <th><i class="fa fa-fw fa-calendar"></i>Дата посещения</th>
            <th><i class="fa fa-fw fa-venus-mars"></i>Код посетителей</th>
            <th><i class="fa fa-fw fa-map-marker"></i>Место</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visit in Model.Visits)
        {
            <tr>
                <td><span class="hide">@visit.DateStandard</span>@visit.Date</td>
                <td>
                    @foreach (var code in visit.Codes)
                    {
                        <span style="margin-right: 2px;" class="label label@(code == "М" ? "-default" : code == "Ж" ? "-default" : "-info")">
                            @code
                        </span>
                    }
                </td>
                <td>
                    <a asp-controller="Location"
                       asp-action="Details"
                       asp-route-id="@visit.LocationID"
                       tooltip="Просмотреть информацию о месте"
                       tooltip-placement="bottom">
                        @visit.LocationName
                    </a>
                </td>
                <td nowrap="nowrap">
                    <manager>
                        <button id="btn-update-visit"
                           data-visitid="@visit.ID"
                           class="btn btn-xs btn-default"
                           tooltip="Редактировать посещение"
                           tooltip-placement="bottom">
                            <i class="fa fa-fw fa-pencil-square" aria-hidden="true"></i>
                        </button>
                        <a asp-controller="Visit"
                           asp-action="Delete"
                           asp-route-id="@visit.ID"
                           class="btn btn-xs btn-danger"
                           tooltip="Удалить посещение"
                           tooltip-placement="bottom">
                            <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                        </a>
                    </manager>
                </td>
            </tr>
        }
    </tbody>
</table>
