@model TurnoverReport

<p class="text-info">
    <b>@Model.Name</b>
</p>
<p>
    @Html.DisplayNameFor(m => m.Generated): @Model.Generated
</p>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#tab-deliveries" data-toggle="tab" aria-expanded="False">
            <i class="fa fa-fw fa-cart-arrow-down"></i>
            @Html.DisplayNameFor(m => m.Deliveries)
        </a>
    </li>
    <li>
        <a href="#tab-sales" data-toggle="tab" aria-expanded="False">
            <i class="fa fa-fw fa-handshake-o"></i>
            @Html.DisplayNameFor(m => m.Sales)
        </a>
    </li>
    <li>
        <a href="#tab-profit" data-toggle="tab" aria-expanded="False">
            <i class="fa fa-fw fa-balance-scale"></i>
            @Html.DisplayNameFor(m => m.Profit)
        </a>
    </li>
</ul>
<div id="tab-content" class="tab-content">
    <div class="tab-pane fade active in" id="tab-deliveries">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover" style="font-size: 14px;">
                        <thead>
                            @foreach (var row in Model.Deliveries.Header.Rows)
                            {
                                <tr>
                                    @foreach (var col in row.Columns)
                                    {
                                        <th>@col.Value</th>
                                    }
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach (var row in Model.Deliveries.Body.Rows)
                            {
                                <tr>
                                    @foreach (var col in row.Columns)
                                    {
                                        <td>@col.Value</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tab-sales">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover" style="font-size: 14px;">
                        <thead>
                            @foreach (var row in Model.Sales.Header.Rows)
                            {
                                <tr>
                                    @foreach (var col in row.Columns)
                                    {
                                        <th>@col.Value</th>
                                    }
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach (var row in Model.Sales.Body.Rows)
                            {
                                <tr>
                                    @foreach (var col in row.Columns)
                                    {
                                        <td>@col.Value</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tab-profit">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover" style="font-size: 14px;">
                        <thead>
                            @foreach (var row in Model.Profit.Header.Rows)
                            {
                                <tr>
                                    @foreach (var col in row.Columns)
                                    {
                                        <th>@col.Value</th>
                                    }
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach (var row in Model.Profit.Body.Rows)
                            {
                                <tr>
                                    @foreach (var col in row.Columns)
                                    {
                                        <td>@col.Value</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>