@model GoodsItemViewModel

<div class="card">
    <h4 class="card-header">@Model.ArticleName</h4>
    <div class="card-body">
        <h5>@Model.ArticleTypeName</h5>
        <h6 class="text-muted">@Model.ArticleDescription</h6>
    </div>
    <img hide-if="@(string.IsNullOrWhiteSpace(Model.ImagePath))" 
         style="height: 200px; width: 100%; display: block; border: none;" 
         src="@Url.Content(Model.ImagePath)" />
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>Количество, шт.:</dt>
            <dd>@Model.Quantity</dd>
            <dt>Склад:</dt>
            <dd>
                <a asp-controller="Location"
                   asp-action="Details"
                   asp-route-id="@Model.LocationID"
                   tooltip="Просмотреть информацию о складе"
                   tooltip-placement="right">
                    @Html.DisplayFor(model => model.LocationName)
                </a>
            </dd>
            <dt>Статус:</dt>
            <dd>
                <span class="label label@(!Model.IsSold ? "-success" : "-warning")">
                    @(!Model.IsSold ? "В наличии" : "Отложен")
                </span>
            </dd>
        </dl>
    </div>
    <div class="card-footer">        
        <table>
            <tr>
                <td>
                    <a class="btn btn-default btn-sm"
                       asp-action="Details"
                       asp-controller="Goods"
                       asp-route-id="@Model.GoodsIds"
                       hide-if="@(Model.Quantity > 1)"
                       tooltip="Просмотреть информацию о товаре"
                       tooltip-placement="bottom">
                        <i class="fa fa-fw fa-info-circle"></i>
                    </a>
                    <a class="btn btn-default btn-sm"
                       asp-action="AddRecommendations"
                       asp-controller="Goods"
                       asp-route-ids="@Model.GoodsIds"
                       tooltip="Добавить рекомендации"
                       tooltip-placement="bottom">
                        <i class="fa fa-fw fa-comment"></i>
                    </a>
                    <a class="btn btn-default btn-sm goods-expand"
                       hide-if="@(Model.Quantity == 1)"
                       tooltip="Показать поштучно"
                       tooltip-placement="bottom"
                       data-articleid="@Model.ArticleID"
                       data-articlename="@Model.ArticleName"
                       data-articletypeid="@Model.ArticleTypeID"
                       data-articletypename="@Model.ArticleTypeName"
                       data-locationid="@Model.LocationID"
                       data-locationname="@Model.LocationName"
                       data-status="@(Model.IsSold ? 1 : 0)">
                        <i class="fa fa-fw fa-expand"></i>
                    </a>
                    <a class="btn btn-default btn-sm"
                       asp-action="ChangeLocation"
                       asp-controller="Goods"
                       asp-route-ids="@Model.GoodsIds"
                       hide-if="@Model.IsSold"
                       tooltip="Переместить на другой склад"
                       tooltip-placement="bottom">
                        <i class="fa fa-fw fa-location-arrow"></i>
                    </a>
                    <button class="btn btn-primary btn-sm"
                            hide-if="@Model.IsSold"
                            tooltip="Оформить продажу"
                            tooltip-placement="bottom">
                        <i class="fa fa-fw fa-handshake-o"></i>
                    </button>
                    <button class="btn btn-primary btn-sm add-to-cart"
                            hide-if="@Model.IsSold"
                            tooltip="Добавить в корзину"
                            tooltip-placement="bottom"
                            data-goods="@Model.GoodsIds"
                            data-locationid="@Model.LocationID">
                        <i class="fa fa-fw fa-cart-arrow-down"></i>
                    </button>
                </td>
            </tr>
            <tr class="row-add-to-cart" style="display: none;">
                <td style="padding-top: 5px;">
                    <select class="form-control input-sm select-sale"
                            style="width: 80%;">                        
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>