@model PaginationSet<GoodsItemViewModel>

<div class="col-lg-12">
    <pagination page="@Model.Page" pages="@Model.TotalPages"></pagination>
</div>
@foreach (var item in Model.Items)
{
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        @Html.Partial("Components/Goods/_Card", item)
    </div>
}
<div class="col-lg-12">
    <pagination page="@Model.Page" pages="@Model.TotalPages"></pagination>
</div>