@model SupplierCreateUpdateViewModel

@{
    var title = Model.IsUpdate ? "Редактирование" : "Создание";
}

@{
    ViewBag.Title = "SORANO - " + title + " поставщика";
    ViewBag.Header = title;
    ViewBag.Description = " поставщика";
    ViewBag.Icon = "fa fa-fw fa-truck";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Supplier" asp-action="Index">Поставщики</a></li>
        <li class="active">@title поставщика</li>
    </ul>
}

<form asp-action="@(Model.IsUpdate ? "Update" : "Create")"
      asp-controller="Supplier"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="ReturnPath" />
    <input type="hidden" asp-for="IsUpdate" />
    @for (var i = 0; i < Model.Recommendations.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Recommendations[i].ID" />
    }
    @for (int i = 0; i < Model.Attachments.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Attachments[i].ID" />
        <input type="hidden" asp-for="@Model.Attachments[i].IsNew" />
        <input type="hidden" asp-for="@Model.Attachments[i].FullPath" />
        <input type="hidden" asp-for="@Model.Attachments[i].MimeTypes" />
        <input type="hidden" asp-for="@Model.Attachments[i].TypeName" />
        <input type="hidden" asp-for="@Model.Attachments[i].TypeID" />
    }
    @Html.HiddenFor(m => m.MainPicture.ID)
    @Html.HiddenFor(m => m.MainPicture.Name)
    @Html.HiddenFor(m => m.MainPicture.FullPath)
    @Html.HiddenFor(m => m.MainPicture.TypeID)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Информация:</strong> Поля, отмеченные символом *, являются обязательными для ввода
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_MainPictureForm.cshtml", Model)
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-truck"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Name" placeholder="Название" autofocus/>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Description"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-fw fa-align-justify"></i></span>
                    <textarea class="form-control input-sm" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_AttachmentsForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_RecommendationsForm.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-default" asp-action="Cancel">
                    <i class="fa fa-fw fa-close"></i>
                    Отмена
                </button>
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-fw fa-save"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/supplierCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/supplierCreate.min.js" asp-append-version="true"></script>
    </environment>
}
