@model SupplierModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"];
    var title = isEdit ? "Редактирование" : "Создание";
}

@{
    ViewBag.Title = "SORANO - " + title + " поставщика";
    ViewBag.Header = title;
    ViewBag.Description = " поставщика";
    ViewBag.Icon = "fa fa-truck";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Supplier" asp-action="Index">Поставщики</a></li>
        <li class="active">@title поставщика</li>
    </ul>
}

<form asp-action="@(isEdit ? "Update" : "Create")"
      asp-controller="Supplier"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="ID" />
    @for (var i = 0; i < Model.Recommendations.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Recommendations[i].ID" />
        <input type="hidden" asp-for="@Model.Recommendations[i].ParentID" />
    }
    @for (int i = 0; i < Model.Attachments.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Attachments[i].ID" />
        <input type="hidden" asp-for="@Model.Attachments[i].IsNew" />
        <input type="hidden" asp-for="@Model.Attachments[i].FullPath" />
        <input type="hidden" asp-for="@Model.Attachments[i].Type.MimeTypes" />
        <input type="hidden" asp-for="@Model.Attachments[i].Type.Name" />
    }
    @Html.HiddenFor(m => m.MainPicture.ID)
    @Html.HiddenFor(m => m.MainPicture.Name)
    @Html.HiddenFor(m => m.MainPicture.FullPath)
    @Html.HiddenFor(m => m.MainPicture.TypeID)
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label" asp-for="Name">Название:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                    <input class="form-control" type="text" asp-for="Name" placeholder="Название" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Description">Описание:</label>
                <div class="input-group">
                    <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-align-justify"></i></span>
                    <textarea class="form-control" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            @Html.Partial("~/Views/Shared/_MainPictureForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_AttachmentsForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_RecommendationsForm.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <a class="btn btn-default" asp-controller="Supplier" asp-action="Index">
                    <i class="fa fa-close"></i>
                    Отмена
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/supplierCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/supplierCreate.min.js" asp-append-version="true"></script>
    </environment>
}
