@model SupplierModel

@{
    ViewBag.Title = "SORANO - Детали поставщика";
    ViewBag.Header = "Детали";
    ViewBag.Description = "поставщика";
    ViewBag.Icon = "fa fa-fw fa-info-circle";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Supplier" asp-action="Index">Поставщики</a></li>
        <li class="active">Детали поставщика</li>
    </ul>
}

<div class="col-lg-12">
    <div class="row">
        <div style="float:left;">
            @if (Model.MainPicture?.FullPath != null)
            {
                <img src="@Url.Content(Model.MainPicture.FullPath)" />
            }
        </div> 
        <div style="float: left;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Modified)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Modified)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
                @if (Model.IsDeleted)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </dt>
                    <dd>
                        <span class="label label-danger">Удалён</span>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Deleted)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.DeletedBy)
                    </dd>
                }
            </dl>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseRecommendations">
                            <span>
                                <i class="fa fa-fw fa-comments" aria-hidden="true"></i>
                                @Html.DisplayNameFor(m => m.Recommendations)
                                <span class="badge pull-right">@Model.Recommendations.Count</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseRecommendations" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.Partial("~/Views/Shared/_RecommendationsDetails.cshtml", Model.Recommendations)
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAttachments">
                            <span>
                                <i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>
                                @Html.DisplayNameFor(m => m.Attachments)
                                <span class="badge pull-right">@Model.Attachments.Count</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseAttachments" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Partial("~/Views/Shared/_AttachmentsDetails.cshtml", Model.Attachments)
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseDeliveries">
                            <span>
                                <i class="fa fa-fw fa-cart-arrow-down" aria-hidden="true"></i>
                                @Html.DisplayNameFor(m => m.Deliveries)
                                <span class="badge pull-right">@Model.Deliveries.Count</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseDeliveries" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="deliveries-datatable" class="table table-striped table-bordered table-hover table-responsive">
                            <thead>
                                <tr role="row" class="search-row">
                                    <th style="width: 25%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" placeholder="Номер" /></th>
                                    <th style="width: 15%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" placeholder="Поставка" /></th>
                                    <th style="width: 15%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" placeholder="Оплата" /></th>
                                    <th style="width: 15%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" placeholder="Позиций" /></th>
                                    <th style="width: 15%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" placeholder="Сумма" /></th>
                                    <th style="width: 15%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" placeholder="Статус" /></th>
                                </tr>
                                <tr role="row">
                                    <th style="width: 25%"><i class="fa fa-fw fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;Номер</th>
                                    <th style="width: 15%"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>&nbsp;Поставка</th>
                                    <th style="width: 15%"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>&nbsp;Оплата</th>
                                    <th style="width: 15%"><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>&nbsp;Позиций</th>
                                    <th style="width: 15%"><i class="fa fa-fw fa-money" aria-hidden="true"></i>&nbsp;Сумма</th>
                                    <th style="width: 15%"><i class="fa fa-fw fa-align-justify" aria-hidden="true"></i>&nbsp;Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var delivery in Model.Deliveries)
                                {
                                    <tr class="@(delivery.IsDeleted ? "danger" : "")">
                                        <td>
                                            <a asp-controller="Delivery"
                                               asp-action="Details"
                                               asp-route-id="@delivery.ID"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-original-title="Просмотреть информацию о поставке"
                                               title="">
                                                @delivery.BillNumber
                                            </a>
                                        </td>
                                        <td>@delivery.DeliveryDate</td>
                                        <td>@delivery.PaymentDate</td>
                                        <td>@delivery.DeliveryItemsCount</td>
                                        <td>@delivery.TotalDiscountPrice @(delivery.SelectedCurrency == 2 ? "€" : delivery.SelectedCurrency == 1 ? "$" : "₴")</td>
                                        <td>
                                            <span class="label label@(delivery.Status ? "-success" : "-warning")">
                                                @(delivery.Status ? "Подтверждено" : "Не подтверждено")
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-default btn-sm" asp-controller="Supplier" asp-action="Index">
            <i class="fa fa-fw fa-arrow-left"></i>
            Назад
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/supplierDetails.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/supplierDetails.min.js" asp-append-version="true"></script>
    </environment>
}
