@model SaleItemsGroupsViewModel

<div class="pull-right" style="margin-bottom: 20px;">
    <span>Выбрано </span>
    <span class="badge" id="sale-selected-count">@Model.Summary.SelectedCount</span>
    <span> товаров на сумму </span>
    <span class="badge" id="sale-total-price">@Model.Summary.TotalPrice @Model.Summary.SelectedCurrency</span>
</div>
<br />
<div class="sale-items-groups-tree"
     hide-if="@Model.Groups.Count == 0">
    <ul>
        @foreach (var group in Model.Groups)
        {
            @Html.Partial("Components/SaleItems/_ItemsGroupTreeNode", group)
        }
    </ul>
</div>