@model ArticleModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"];
    var title = isEdit ? "Редактирование" : "Создание";
    var returnUrl = isEdit ? Url.Action("Update", "Article") : Url.Action("Create", "Article");
}

@{
    ViewBag.Title = "SORANO - " + title + " артикула";
    ViewBag.Header = title;
    ViewBag.Description = " артикула";
    ViewBag.Icon = "fa fa-barcode";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Article" asp-action="Index">Артикулы</a></li>
        <li class="active">@title артикула</li>
    </ul>
}

<form asp-action="@(isEdit ? "Update" : "Create")"
      asp-controller="Article"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="ID"/>
    <input type="hidden" asp-for="Type.ID"/>
    <input type="hidden" asp-for="Type.Name" />
    @for (var i = 0; i < Model.Recommendations.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Recommendations[i].ID" />
        <input type="hidden" asp-for="@Model.Recommendations[i].ParentID" />
    }
    @for (int i = 0; i < Model.Attachments.Count; i++)
    {
        @Html.HiddenFor(m => m.Attachments[i].ID)
        @Html.HiddenFor(m => m.Attachments[i].IsNew)
        @Html.HiddenFor(m => m.Attachments[i].FullPath)
        @Html.HiddenFor(m => m.Attachments[i].Type.MimeTypes)
        @Html.HiddenFor(m => m.Attachments[i].Type.Name)
    }
    @Html.HiddenFor(m => m.MainPicture.ID)
    @Html.HiddenFor(m => m.MainPicture.Name)
    @Html.HiddenFor(m => m.MainPicture.FullPath)
    @Html.HiddenFor(m => m.MainPicture.TypeID)
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_MainPictureForm.cshtml", Model)
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label" asp-for="Name">Название:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Name" placeholder="Название"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Description">Описание:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-fw fa-align-justify"></i></span>
                    <textarea class="form-control input-sm" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Producer">Производитель:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-suitcase"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Producer" placeholder="Производитель"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Code">Код:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Code" placeholder="Код"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Barcode">Штрих-код:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Barcode" placeholder="Штрих-код"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Родительский тип:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-tags"></i></span>
                    <div class="form-control input-sm">
                        <span>@Model.Type?.Name</span>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm"
                                type="submit"
                                asp-action="SelectParentType"
                                asp-route-returnUrl="@returnUrl"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                data-original-title="Назначить родительский тип"
                                title="">
                            <i class="fa fa-fw fa-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-sm"
                                type="submit"
                                asp-action="CreateParentType"
                                asp-route-returnUrl="@returnUrl"
                                data-toggle="tooltip"
                                data-placement="right"
                                data-original-title="Создать родительский тип"
                                title="">
                            <i class="fa fa-fw fa-plus"></i>
                        </button>
                    </span>
                    <span asp-validation-for="Type" class="validation-for"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_AttachmentsForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_RecommendationsForm.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <a class="btn btn-default btn-sm" asp-controller="Article" asp-action="Index">
                    <i class="fa fa-fw fa-close"></i>
                    Отмена
                </a>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-fw fa-check"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/articleCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/articleCreate.min.js" asp-append-version="true"></script>
    </environment>
}