@model ArticleModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"];
    var title = isEdit ? "Редактирование" : "Создание";
    var returnUrl = isEdit ? Url.Action("Update", "Article") : Url.Action("Create", "Article");
}

@{
    ViewBag.Title = "SORANO - " + title + " артикула";
    ViewBag.Header = title;
    ViewBag.Description = " артикула";
    ViewBag.Icon = "fa fa-barcode";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
    <style>
        span.select2-selection.select2-selection--single {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    </style>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Article" asp-action="Index">Артикулы</a></li>
        <li class="active">@title артикула</li>
    </ul>
}

<form asp-action="@(isEdit ? "Update" : "Create")"
      asp-controller="Article"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="ID"/>
    <input type="hidden" asp-for="ReturnPath" />
    @for (var i = 0; i < Model.Recommendations.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Recommendations[i].ID" />
        <input type="hidden" asp-for="@Model.Recommendations[i].ParentID" />
    }
    @for (int i = 0; i < Model.Attachments.Count; i++)
    {
        @Html.HiddenFor(m => m.Attachments[i].ID)
        @Html.HiddenFor(m => m.Attachments[i].IsNew)
        @Html.HiddenFor(m => m.Attachments[i].FullPath)
        @Html.HiddenFor(m => m.Attachments[i].Type.MimeTypes)
        @Html.HiddenFor(m => m.Attachments[i].Type.Name)
    }
    @Html.HiddenFor(m => m.MainPicture.ID)
    @Html.HiddenFor(m => m.MainPicture.Name)
    @Html.HiddenFor(m => m.MainPicture.FullPath)
    @Html.HiddenFor(m => m.MainPicture.TypeID)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_MainPictureForm.cshtml", Model)
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Name" placeholder="Название"/>                    
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Description"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-fw fa-align-justify"></i></span>
                    <textarea class="form-control input-sm" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Producer"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-suitcase"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Producer" placeholder="Производитель"/>
                </div>
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Code"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Code" placeholder="Код"/>
                </div>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Barcode"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
                    <input class="form-control input-sm" type="text" asp-for="Barcode" placeholder="Штрих-код"/>
                </div>
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Type"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-fw fa-tags"></i></span>
                    <select class="form-control input-sm select-article-type"
                            asp-for="@Model.TypeID"
                            asp-items="@ViewBag.ArticleTypes">
                    </select>
                    <span class="input-group-btn">
                        @if (string.IsNullOrEmpty(Model.ReturnPath))
                        {
                            <button class="btn btn-default btn-sm"
                                    type="submit"
                                    asp-action="CreateParentType"
                                    asp-route-returnUrl="@returnUrl"
                                    data-toggle="tooltip"
                                    data-placement="right"
                                    data-original-title="Создать родительский тип"
                                    title="">
                                <i class="fa fa-fw fa-plus"></i>
                            </button>
                        }                        
                    </span>
                </div>
                <span asp-validation-for="TypeID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            @Html.Partial("~/Views/Shared/_AttachmentsForm.cshtml", Model)
            @Html.Partial("~/Views/Shared/_RecommendationsForm.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <button class="btn btn-default btn-sm" asp-action="Cancel">
                    <i class="fa fa-fw fa-close"></i>
                    Отмена
                </button>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-fw fa-check"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/articleCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/articleCreate.min.js" asp-append-version="true"></script>
    </environment>
}