@model ArticleModel

@{
    ViewBag.Title = "SORANO - Детали артикула";
    ViewBag.Header = "Детали";
    ViewBag.Description = "артикула";
    ViewBag.Icon = "fa fa-info-circle";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Article" asp-action="Index">Артикулы</a></li>
        <li class="active">Детали артикула</li>
    </ul>
}

<div class="col-lg-12">
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            } 
            @if (!string.IsNullOrEmpty(Model.Producer))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Producer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Producer)
                </dd>
            } 
            @if (!string.IsNullOrEmpty(Model.Code))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Code)
                </dd>
            } 
            @if (!string.IsNullOrEmpty(Model.Barcode))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Barcode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Barcode)
                </dd>
            }          
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                <a asp-controller="ArticleType"
                   asp-action="Details"
                   asp-route-id="@Model.Type.ID"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Просмотреть информацию о типе артикулов"
                   title="">
                    @Html.DisplayFor(model => model.Type.Name)
                </a>                
            </dd> 
            <dd>
                @Html.DisplayFor(model => model.Type.Description)
            </dd> 
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Created)               
            </dd> 
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Modified)                
            </dd>
            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
            @if (Model.IsDeleted)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </dt>
                <dd>
                    <span class="label label-danger">Удалён</span>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Deleted)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Deleted)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.DeletedBy)
                </dd>
            }
            @if (Model.Recommendations.Any())
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Recommendations)
                </dt>
                <dd>
                    <table class="table table-striped">
                        <tr>
                            <th>Текст</th>
                            <th>Значение</th>
                        </tr>
                        @foreach (var recommendation in Model.Recommendations)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => recommendation.Comment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => recommendation.ValueString)
                                </td>
                            </tr>
                        }
                    </table>
                </dd>
            }
        </dl>
    </div>
    <div class="row">
        <a class="btn btn-default" asp-controller="Article" asp-action="Index">
            <i class="fa fa-arrow-left"></i>
            Назад
        </a>
    </div>
</div>
