@model ArticleModel

@{
    ViewBag.Title = "SORANO - Детали артикула";
    ViewBag.Header = "Детали";
    ViewBag.Description = "артикула";
    ViewBag.Icon = "fa fa-info-circle";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Article" asp-action="Index">Артикулы</a></li>
        <li class="active">Детали артикула</li>
    </ul>
}

<div class="col-lg-12">
    <div class="row">
        <div style="float:left;">
            @if (Model.MainPicture?.FullPath != null)
            {
                <img src="@Url.Content(Model.MainPicture.FullPath)" />
            }
        </div>      
        <div style="float:left;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                }
                @if (!string.IsNullOrEmpty(Model.Producer))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Producer)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Producer)
                    </dd>
                }
                @if (!string.IsNullOrEmpty(Model.Code))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                }
                @if (!string.IsNullOrEmpty(Model.Barcode))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Barcode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Barcode)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    <a asp-controller="ArticleType"
                       asp-action="Details"
                       asp-route-id="@Model.Type.ID"
                       data-toggle="tooltip"
                       data-placement="right"
                       data-original-title="Просмотреть информацию о типе артикулов"
                       title="">
                        @Html.DisplayFor(model => model.Type.Name)
                    </a>
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.Type.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Modified)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Modified)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
                @if (Model.IsDeleted)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </dt>
                    <dd>
                        <span class="label label-danger">Удалён</span>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Deleted)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.DeletedBy)
                    </dd>
                }
            </dl>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseRecommendations">
                            <span>
                                <i class="fa fa-fw fa-comments" aria-hidden="true"></i>
                                @Html.DisplayNameFor(m => m.Recommendations)
                                <span class="badge pull-right">@Model.Recommendations.Count</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseRecommendations" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.Partial("~/Views/Shared/_RecommendationsDetails.cshtml", Model.Recommendations)
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAttachments">
                            <span>
                                <i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>
                                @Html.DisplayNameFor(m => m.Attachments)
                                <span class="badge pull-right">@Model.Attachments.Count</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseAttachments" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Partial("~/Views/Shared/_AttachmentsDetails.cshtml", Model.Attachments)
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseDeliveries">
                            <span>
                                <i class="fa fa-fw fa-cart-arrow-down" aria-hidden="true"></i>
                                @* TODO *@
                                Позиции поставок 
                                <span class="badge pull-right">0</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseDeliveries" class="panel-collapse collapse">
                    <div class="panel-body">
                        @* TODO *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-default" asp-action="Index" asp-controller="Article">
            <i class="fa fa-arrow-left"></i>
            Назад
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/articleDetails.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/articleDetails.min.js" asp-append-version="true"></script>
    </environment>
}