@model IEnumerable<ArticleIndexViewModel>

@{
    ViewBag.Title = "SORANO - Артикулы";
    ViewBag.Header = "Артикулы";
    ViewBag.Description = "и типы артикулов";
    ViewBag.Icon = "fa fa-barcode";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Артикулы</li>
    </ul>
}

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#article-tab-table" data-toggle="tab" aria-expanded="False">
                    <i class="fa fa-fw fa-th" aria-hidden="true"></i>
                    Таблица артикулов
                </a>
            </li>
            <li>
                <a href="#article-tab-tree" data-toggle="tab" aria-expanded="False">
                    <i class="fa fa-fw fa-sitemap" aria-hidden="true"></i>
                    Дерево типов артикулов
                </a>                
            </li>            
        </ul>
        <div id="article-tab-content" class="tab-content">
            <div class="tab-pane fade active in" id="article-tab-table">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a class="btn btn-default btn-xs pull-right"
                           asp-controller="Article"
                           asp-action="Create"
                           data-toggle="tooltip"
                           data-placement="right"
                           data-original-title="Добавить артикул"
                           title="">
                            <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-default btn-xs pull-right"
                           asp-controller="Article"
                           asp-action="ShowDeleted"
                           asp-route-show=@(ViewBag.ShowDeletedArticles ? "false" : "true")
                           data-toggle="tooltip"
                           data-placement="right"
                           data-original-title=@(ViewBag.ShowDeletedArticles ? "Скрыть удалённые артикулы" : "Отобразить удалённые артикулы")
                           title="">
                            <i class="fa fa-fw @(ViewBag.ShowDeletedArticles ? "fa-eye-slash" : "fa-eye")" aria-hidden="true"></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <table id="article-datatable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr role="row" class="search-row">
                                    <th></th>
                                    <th><input type="text" class="form-control input-sm" placeholder="Код" /></th>
                                    <th><input type="text" class="form-control input-sm" placeholder="Название" /></th>
                                    <th><input type="text" class="form-control input-sm" placeholder="Тип" /></th>
                                    <th><input type="text" class="form-control input-sm" placeholder="Производитель" /></th>
                                    <th></th>
                                </tr>
                                <tr role="row">
                                    <th>ID</th>
                                    <th><i class="fa fa-fw fa-barcode"></i>Код</th>
                                    <th><i class="fa fa-fw fa-align-justify"></i>Название</th>
                                    <th><i class="fa fa-fw fa-tag"></i>Тип</th>
                                    <th><i class="fa fa-fw fa-suitcase"></i>Производитель</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var article in Model)
                                {
                                    <tr class="@(article.IsDeleted ? "danger" : "")">
                                        <td>@article.ID</td>
                                        <td>@article.Code</td>
                                        <td>
                                            <a asp-controller="Article"
                                                asp-action="Details"
                                                asp-route-id="@article.ID"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                data-original-title="Просмотреть информацию об артикуле"
                                                title="">
                                                @article.Name
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-controller="ArticleType"
                                                asp-action="Details"
                                                asp-route-id="@article.TypeID"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                data-original-title="Просмотреть информацию о типе артикулов"
                                                title="">
                                                @article.TypeName
                                            </a>
                                        </td>
                                        <td>@article.Producer</td>
                                        <td>
                                            <a asp-controller="Article"
                                                asp-action="Details"
                                                asp-route-id="@article.ID"
                                                class="btn btn-xs btn-default"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                data-original-title="Просмотреть информацию об артикуле"
                                                title="">
                                                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                                            </a>
                                            @if (!article.IsDeleted)
                                            {
                                                <a asp-controller="Article"
                                                    asp-action="Update"
                                                    asp-route-id="@article.ID"
                                                    class="btn btn-xs btn-default"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    data-original-title="Редактировать свойства артикула"
                                                    title="">
                                                    <i class="fa fa-fw fa-pencil-square" aria-hidden="true"></i>
                                                </a>
                                                if (article.CanBeDeleted)
                                                {
                                                    <a asp-controller="Article"
                                                        asp-action="Delete"
                                                        asp-route-id="@article.ID"
                                                        class="btn btn-xs btn-danger"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        data-original-title="Удалить артикул"
                                                        title="Удалить артикул">
                                                        <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="article-tab-tree">
                <div class="panel panel-primary">
                    <div class="panel-heading">                        
                        <a class="btn btn-default btn-xs pull-right"
                           asp-controller="ArticleType"
                           asp-action="Create"
                           data-toggle="tooltip"
                           data-placement="right"
                           data-original-title="Добавить тип артикулов"
                           title="">
                            <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-default btn-xs pull-right"
                           asp-controller="ArticleType"
                           asp-action="ShowDeleted"
                           asp-route-show=@(ViewBag.ShowDeletedArticleTypes ? "false" : "true")
                           data-toggle="tooltip"
                           data-placement="right"
                           data-original-title=@(ViewBag.ShowDeletedArticleTypes ? "Скрыть удалённые типы артикулов" : "Отобразить удалённые типы артикулов")
                           title="">
                            <i class="fa fa-fw @(ViewBag.ShowDeletedArticleTypes ? "fa-eye-slash" : "fa-eye")" aria-hidden="true"></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                @await Component.InvokeAsync("ArticleTypes", new { withDeleted = ViewBag.ShowDeletedArticleTypes })                               
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div id="details">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/articleIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/articleIndex.min.js" asp-append-version="true"></script>
    </environment>
}
