@model IList<ArticleTypeModel>

@{
    ViewBag.Title = "SORANO - Артикулы";
    ViewBag.Header = "Артикулы";
    ViewBag.Description = "и типы артикулов";
    ViewBag.Icon = "fa fa-barcode";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa fa-home"></i>
                Главная
            </a>
        </li>
        <li class="active">Артикулы</li>
    </ul>
}

@{
    var articles = Model.SelectMany(t => t.Articles).ToList();
}

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#article-tab-tree" data-toggle="tab" aria-expanded="False">
                    <i class="fa fa-fw fa-sitemap" aria-hidden="true"></i>
                    Дерево типов
                </a>                
            </li>
            <li>
                <a href="#article-tab-table" data-toggle="tab" aria-expanded="False">
                    <i class="fa fa-fw fa-th" aria-hidden="true"></i>
                    Таблица артикулов
                </a>
            </li>
        </ul>
        <div id="article-tab-content" class="tab-content">
            <div class="tab-pane fade active in" id="article-tab-tree">
                <div class="panel panel-primary" style="border-radius: 0;">
                    <div class="panel-heading" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                        <a class="btn btn-default btn-xs pull-right" asp-controller="ArticleType" asp-action="Create">Добавить новый тип артикулов</a>
                        <a class="btn btn-default btn-xs pull-right" style="margin-right: 10px;" asp-controller="Article" asp-action="CreateArticle">Добавить новый артикул</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                @if (Model.Any())
                                {
                                    <input class="form-control input-sm" style="font-weight: bold;" placeholder="Поиск артикулов и типов артикулов" type="text" id="article-search" />
                                    <br />
                                    <div class="tree">
                                        <article-types-tree elements="@Model.ToList()" detailed="true" show-articles="true"></article-types-tree>
                                    </div>
                                }
                                else
                                {
                                    <p class="text-info">
                                        <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                                        Типы артикулов отсутствуют
                                    </p>
                                }
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div id="details">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="article-tab-table">
                <div class="panel panel-primary" style="border-radius: 0;">
                    <div class="panel-heading" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                        <a class="btn btn-default btn-xs pull-right" asp-controller="ArticleType" asp-action="Create">Добавить новый тип артикулов</a>
                        <a class="btn btn-default btn-xs pull-right" style="margin-right: 10px;" asp-controller="Article" asp-action="CreateArticle">Добавить новый артикул</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <table id="article-datatable" class="table table-striped table-bordered table-hover table-responsive" style="width: 100%">
                            <thead>
                            <tr role="row" id="search-row">
                                <th style="width: 5%" rowspan="1" colspan="1"></th>
                                <th style="width: 13%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Код"/></th>
                                <th style="width: 25%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Название" /></th>
                                <th style="width: 25%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Тип" /></th>
                                <th style="width: 20%" rowspan="1" colspan="1"><input type="text" class="form-control input-sm" style="width: 100%" placeholder="Производитель" /></th>
                                <th style="width: 12%" rowspan="1" colspan="1"></th>
                            </tr>
                            <tr role="row">
                                <th style="width: 5%">ID</th>
                                <th style="width: 13%"><i class="fa fa-fw fa-barcode" aria-hidden="true"></i>&nbsp;Код</th>
                                <th style="width: 25%"><i class="fa fa-fw fa-align-justify" aria-hidden="true"></i>&nbsp;Название</th>
                                <th style="width: 25%"><i class="fa fa-fw fa-tag" aria-hidden="true"></i>&nbsp;Тип</th>
                                <th style="width: 20%"><i class="fa fa-fw fa-suitcase" aria-hidden="true"></i>&nbsp;Производитель</th>
                                <th style="width: 12%">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < articles.Count; i++)
                            {
                                <tr>
                                    <td>@articles[i].ID</td>
                                    <td>@articles[i].Code</td>
                                    <td>@articles[i].Name</td>
                                    <td>@articles[i].Type.Name</td>
                                    <td>@articles[i].Producer</td>
                                    <td>
                                        <a asp-controller="Article"
                                           asp-action="Details"
                                           asp-route-id="@articles[i].ID"
                                           class="btn btn-xs btn-default"
                                           title="Просмотреть информацию об артикуле">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </a>
                                        <a asp-controller="Article"
                                           asp-action="Update"
                                           asp-route-id="@articles[i].ID"
                                           class="btn btn-xs btn-default"
                                           title="Редактировать свойства артикула">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </a>
                                        <a asp-controller="Article"
                                           asp-action="Delete"
                                           asp-route-id="@articles[i].ID"
                                           class="btn btn-xs btn-danger"
                                           title="Удалить артикул">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Свернуть ветку');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Развернуть ветку').find(' > i').addClass('fa-tags').removeClass('fa-tag');
                    $(this).find(' > span').show('fast');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Свернуть ветку').find(' > i').addClass('fa-tag').removeClass('fa-tags');
                    $(this).find(' > span').hide('fast');
                }
                e.stopPropagation();
            });
            $('.tree li > a').on('click', function() {
                var url = '@Url.Action("Brief", "ArticleType")';
                var id = $(this).parent().attr('id');
                $.get(url, { id: id }, function(data) {
                    $('#details').html(data);
                    $("[data-toggle=tooltip]").tooltip();
                });              
            });

            var table = $("#article-datatable").DataTable({
                responsive: true,
                "columnDefs": [
                    { "orderable": false, "targets": 5 }
                ],
                "pagingType": "numbers",
                "language": {
                    "lengthMenu": "Отобразить _MENU_ артикулов на странице",
                    "zeroRecords": "Артикулы отсутствуют",
                    "info": "Отображение страницы _PAGE_ из _PAGES_",
                    "infoEmpty": "Записи отсутствуют",
                    "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                    "search": "Поиск"
                }
            });

            table.columns().eq(0).each(function(colIdx) {
                $('input', $('th')[colIdx]).on('keyup change',
                    function() {
                        table
                            .column(colIdx)
                            .search(this.value)
                            .draw();
                    });
            });  

            $('.pagination').first().addClass('pagination-sm');
        });
    </script>
}
