@model LocationTypeModel

@{
    ViewBag.Title = "SORANO - Детали типа мест";
    ViewBag.Header = "Детали";
    ViewBag.Description = "типа мест";
    ViewBag.Icon = "fa fa-info-circle";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Location" asp-action="Index">Поставщики</a></li>
        <li class="active">Детали типа мест</li>
    </ul>
}

<div class="col-lg-12">
    <div class="row">
        <div style="float:left;">
            @if (Model.MainPicture?.FullPath != null)
            {
                <img style='width: 150px; height: 200px; border: 2px solid #dce4ec; box-shadow: none; border-radius: 4px; object-fit: contain; margin-right:10px;'
                     src="@Url.Content(Model.MainPicture.FullPath)" />
            }
        </div> 
        <div style="float: left;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Modified)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Modified)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
                @if (Model.IsDeleted)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </dt>
                    <dd>
                        <span class="label label-danger">Удалён</span>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Deleted)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.DeletedBy)
                    </dd>
                }
            </dl>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseRecommendations">
                            <span>
                                <i class="fa fa-fw fa-comments" aria-hidden="true"></i>
                                @Html.DisplayNameFor(m => m.Recommendations)
                                <span class="badge pull-right">@Model.Recommendations.Count</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseRecommendations" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.Partial("~/Views/Shared/_RecommendationsDetails.cshtml", Model.Recommendations)
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAttachments">
                            <span>
                                <i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>
                                @Html.DisplayNameFor(m => m.Attachments)
                                <span class="badge pull-right">@Model.Attachments.Count</span>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseAttachments" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Partial("~/Views/Shared/_AttachmentsDetails.cshtml", Model.Attachments)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-default" asp-controller="Location" asp-action="Index">
            <i class="fa fa-arrow-left"></i>
            Назад
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/locationTypeDetails.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/locationTypeDetails.min.js" asp-append-version="true"></script>
    </environment>
}