@model UserCreateUpdateViewModel

@{
    var title = Model.IsUpdate ? "Редактирование" : "Создание";
}

@{
    ViewBag.Title = "SORANO - " + title + " пользователя";
    ViewBag.Header = title;
    ViewBag.Description = "пользователя";
    ViewBag.Icon = "fa fa-fw " + (Model.IsUpdate ? "fa-pencil-square" : "fa-user-plus");
}

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
    <style>
        span.select2-selection.select2-selection--multiple {
            -ms-border-top-right-radius: 3px !important;
            border-top-right-radius: 3px !important;
            -ms-border-bottom-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }
    </style>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="User" asp-action="Index">Пользователи</a></li>
        <li class="active">@title пользователя</li>
    </ul>
}

<form asp-action="@(Model.IsUpdate ? "Update" : "Create")"
      asp-controller="User"
      method="post">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="CanBeModified" />
    <input type="hidden" asp-for="IsUpdate" />
    @for (var i = 0; i < Model.Roles.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Roles[i].Value" />
        <input type="hidden" asp-for="@Model.Roles[i].Text" />
        <input type="hidden" asp-for="@Model.Roles[i].Selected" />
    }
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.IsUpdate && !Model.CanBeModified)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissible alert-warning">
                    <strong>Внимание!</strong> Для текущего пользователя количество свойств для редактирования ограничено
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Информация:</strong> Поля, отмеченные символом *, являются обязательными для ввода
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            @if (Model.CanBeModified || !Model.IsUpdate)
            {
                <div class="form-group">
                    <label class="control-label" asp-for="Login"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-fw fa-user-circle-o"></i></span>
                        <input class="form-control input-sm" type="text" asp-for="Login" placeholder="Логин" autofocus />
                    </div>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            }
            @if (Model.IsUpdate && !Model.CanBeModified)
            {
                <input type="hidden" asp-for="Login" />
                for (int i = 0; i < Model.RoleIDs.Count(); i++)
                {
                    @Html.HiddenFor(m => m.RoleIDs.ToList()[i])
                }
            }
            <div class="form-group">
                <label class="control-label" asp-for="Description"></label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-fw fa-align-justify"></i></span>
                    <textarea class="form-control input-sm" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (!Model.IsUpdate)
            {
                <div class="form-group">
                    <label class="control-label" asp-for="Password"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                        <input class="form-control input-sm" type="password" asp-for="Password" placeholder="Пароль" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            }
            @if (Model.IsUpdate && Model.CanBeModified)
            {
                <div class="form-group">
                    <label class="control-label" asp-for="NewPassword"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                        <input class="form-control input-sm" type="password" asp-for="NewPassword" placeholder="Новый пароль" />
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="RepeatPassword"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                        <input class="form-control input-sm" type="password" asp-for="RepeatPassword" placeholder="Повторите новый пароль" />
                    </div>
                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                </div>
            }
            @if (Model.CanBeModified || !Model.IsUpdate)
            {
                <div class="form-group">
                    <label class="control-label" asp-for="RoleIDs"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-fw fa-vcard"></i></span>
                        <select class="form-control input-sm" asp-for="RoleIDs" asp-items="@Model.Roles"></select>
                    </div>
                    <span asp-validation-for="RoleIDs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="LocationIds"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-fw fa-map-marker"></i></span>
                        <select class="form-control input-sm select-location" multiple
                                asp-for="LocationIds"></select>
                    </div>
                    <span asp-validation-for="LocationIds" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <a class="btn btn-default btn-sm" asp-action="Index">
                    <i class="fa fa-fw fa-close"></i>
                    Отмена
                </a>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-fw fa-save"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/userCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/userCreate.min.js" asp-append-version="true"></script>
    </environment>
}